[2019-10-31 01:05] jdolitsky opened #285 "Default mediatype should not include encoding"
Based on OCI call discussion today, we should remove +json as a default

[2020-02-14 23:07] steved opened #286 "OCIStore is not concurrency safe at a process-level"
When running multiple `helm chart` commands at the same time, there can be a race to write the updated OCIStore index reference resulting in missing references for later commands. Is it expected that this should work or should each `helm chart` command be given a new registry cache directory to avoid this?

Failing test case:
[code]

[2021-06-02 02:19] jdolitsky opened #4 "Replace deis references in annotations"
See https://github.com/oras-project/oras-go/search?q=deis

cc @shizhMSFT

[2021-06-07 03:46] shizhMSFT commented on #4
Any suggestions on the new annotation keys? /cc @SteveLasker

[2021-06-07 04:02] SteveLasker commented on #4
How about `cncf.oras.*`
What are these used for?

[2021-06-07 11:36] shizhMSFT commented on #4
They are used for compressed directories. If we adopt #178, then we don't need to bother those annotations.

[2021-06-07 17:15] SteveLasker commented on #4
Of course, I'd like to see #178, but I wouldn't block and seems you can use `cncf.oras`, however that does presume the project is accepted, so I'd suggest holding this annotation for now. It also makes it interesting how these would work if a new client is looking for `cncf.oras` and it discovers `deis.oras`?
Are you thinking of maintaining some backwards compat?

[2021-08-05 01:15] vsoch opened #14 "Question about writerOpts in file.go"
Heyo! I have a very naive question about the WriterOpts here:

https://github.com/oras-project/oras-go/blob/9ee134908701608848ede3c77efbeaa568fee55f/pkg/content/file.go#L221

How can there be a Desc attribute if "Desc" isn't part of the structure here?

https://github.com/oras-project/oras-go/blob/9ee134908701608848ede3c77efbeaa568fee55f/pkg/content/opts.go#L24

Is it somehow added with the loop t

[2021-08-05 19:18] bacongobbler commented on #4
Is there a risk to users if these annotations are changed and/or removed? As in, will Helm and other applications using oras be able to unpack charts using these annotations?

I'm okay with changing the annotation - just need a heads up so we can inform users of breaking changes to `helm chart push/helm chart pull`.

[2021-08-05 19:24] bacongobbler commented on #14
You're looking at the wrong WriterOpts. file.go [depends on `containerd/content`](https://github.com/oras-project/oras-go/blob/9ee134908701608848ede3c77efbeaa568fee55f/pkg/content/file.go#L29) which defines a `Desc` field. See https://pkg.go.dev/github.com/containerd/containerd/content#WriterOpts.

[2021-08-05 19:25] vsoch commented on #14
Oh dog! Should have looked at the imports! Thank you!

[2021-08-05 19:25] #14 closed

[2021-08-06 02:55] jdolitsky commented on #4
@bacongobbler Helm's use of oras-go (both the old version and the one in the HIP 6 PR) does not do anything with these annotations, so we are safe here

[2021-08-27 01:01] sajayantony opened #18 "Authentication provider support"
The library requires a way to authenticate remote stores.

[2021-09-06 18:32] luisdavim opened #19 "List images and tags"
Is it possible to list images and tags from the remote repository?

EDIT: To give some more context.

I'm writing a CLI tool that supports plugins and I'm using `oras-go` to publish and install plugins to and from a docker repo where each plugin is a tag I'd like to be able to provide a list or search command that allows discovering plugins and display some information from it's annotations.

I've

[2021-09-09 16:19] luisdavim opened #22 "Missing manifest annotations."
I don't know if I'm doing anything wrong, but I've used `oras.WithManifestAnnotations()` to push my artefact with some metadata, that worked well because if I curl the repo directly I see it there:

[code]

But then when I pull it using `desc, artefacts, err :=  oras.Pull(...)` I can loop through the artefacts and get the annotations from each of them, but `desc.Annotations` is empty...

The resul

[2021-09-10 02:01] luisdavim commented on #22
And now, with the recent changes from https://github.com/oras-project/oras-go/pull/8 I don't know how to access the metadata from the individual layers, as mentioned in a comment in the PR, the `Copy` function doesn't return the list of descriptors for the pulled layers like `Pull` used to, I guess I can work around this issue by storing my metadata in the `config` layer, but I was hoping to be ab

[2021-09-10 08:13] deitch commented on #22
That isn't necessarily wrong, but storing annotations on individual descriptors of any kind is valid according to the spec, so you should be able to there as well, and retrieve it.

Understood. I commented there; let's see if the proposed direction works.

I find that odd. I am going to dig a little deeper. It just does `from.Resolve` to get the original `desc`.

[2021-09-10 08:14] deitch commented on #22
@luisdavim do you have a publicly available root manifest like the above, so I can just run `Copy()` against it?

[2021-09-10 08:23] luisdavim commented on #22
Thanks for the reply, I don't have anything public, but I let me see what I can do.

[2021-09-10 08:59] luisdavim commented on #22
BTW, meanwhile I've updated my code to use the new version and `Copy()` and I get the same result, even when I print the annotations from then descriptor I get from "pushing" they are empty, so the same issue in either direction. Could this be because I'm using the file store?

[2021-09-10 09:32] deitch commented on #22
I am not sure, but we can try to replicate it. Share your sample code?

[2021-09-10 10:26] luisdavim commented on #22
I've pushed a branch with some changes to the advanced example to support annotations https://github.com/oras-project/oras-go/pull/24
And I've noticed that with the new `Copy()` method my manifest annotations are not even getting pushed as they were before with `Push()` but I might be doing something wrong here...

[2021-09-10 10:57] deitch commented on #22
I think I see what is going on here.

With the old `Pull()`, we were generating a root manifest on the fly, so it made sense to add the annotations at that point.

With `Copy()`, we take a more "trust the target" approach, and copy the Descriptor "as-is". In the example you linked to above #24, by the time we `Copy()`, we **must** have a manifest available in the target. That is why there is [File

[2021-09-10 11:15] luisdavim commented on #22
Ok, so to add the config annotations I'd do something like

[code]
Instead of using `WithConfigAnnotations` but how would I get my annotations passed to the generated descriptor from `GenerateManifest`?

[2021-09-10 11:16] deitch commented on #22
Hang tight, got a PR coming to test

[2021-09-10 13:26] luisdavim commented on #22
Thanks for working on this, https://github.com/oras-project/oras-go/pull/25 solves the issue of uploading the annotations, so it solves the regression, but the original issue is still there.

Upload a file:

[code]

The annotations are there 🎉 :

[code]

But if I download it, the annotations are not part of the descriptor:

[code]

[2021-09-10 13:59] luisdavim commented on #22
Meanwhile, as a workaround, I was trying to do the following after copying into `store`:

[code]

Where `store` is a `File` store, but I get a 404...

[2021-09-10 14:15] deitch commented on #22
OK, so half the issue is solved with that. Let's get that merged in and then solve the other.

[2021-09-10 14:24] deitch commented on #22
@luisdavim are you sure it isn't working? I ran a simple test, from local files to `oci`, in order to generate and save the manifest, and then from one local `oci` to another local `oci`. The manifest itself includes the annotations both in the first and second `oci` layout.

The _descriptor_ pointing to the manifest does not, but it should not either.

[code]

Looking at `index.json`:

[code]

Th

[2021-09-10 14:32] luisdavim commented on #22
Oh, yeah, that works the issue is that the descriptor I get back from the copy doesn't have the annotations, this was about that from the beginning.

[2021-09-10 14:37] luisdavim commented on #22
So, I have ways to work around my issue, like I could copy to a temp local OCI like you did and then parse the index to move stuff into the right place, but I was trying to keep it simple and just use the file store to copy directly to the final destination and then read the metadata to do the rest of the stuff I want to do....

[2021-09-10 14:44] luisdavim commented on #22
Here's a snippet to give you an idea of what I'm going for:

[code]

But `desc.Annotations` is always empty.

[2021-09-10 21:29] SteveLasker opened #26 "Copy Artifact Reference Graph"
## Goal
Support copying a graph of artifacts from a source to a destination registry.

### Scope
`oras copy ...`
- source and destination registry
- source and destination authentication
- filter to a set of `artifactTypes`
- filter out a set of `artifactTypes`

From [ORAS Artifact Scenarios](https://github.com/oras-project/artifacts-spec/blob/main/scenarios.md#content-copying)

To copy a containe

[2021-09-11 13:31] luisdavim commented on #22
I think the problem is the registry resolver never sets the annotations: https://github.com/containerd/containerd/blob/main/remotes/docker/resolver.go#L375-L379

[2021-09-13 06:56] deitch commented on #22
That isn't it. That mixes together the resolver and the manifest:

1. Request tag, get Descriptor that points to manifest - this is what `Resolve()` does
2. Request manifest by hash (based on above Descriptor), get manifest - this is a blob that has the annotations

[2021-09-13 07:41] luisdavim commented on #22
I might be reading something wrong and might have taken some wrong turn somewhere but, If I follow the code, that's where it gets me, that's the `Resolve()` implementation for `from.Resolve()` in the `Copy()` method when the `from` is a registry and the result of if is what `Copy()` returns as the descriptor.

[2021-09-13 07:48] luisdavim commented on #22
So, the problem might be that `Copy()` should not be returning that and should instead return the descriptor of the target, what was created by the copy.

[2021-09-13 08:17] deitch commented on #22
It was pretty close. We are passing back the descriptor of the target, rather than the content pointed to by that descriptor. It isn't too hard. Almost got it here.

[2021-09-13 08:18] luisdavim commented on #22
Question, if I copy from `registry` to a `File` store named `store` shouldn't I be able to do the following to get the manifest?

[code]

[2021-09-13 08:55] deitch commented on #22
OK, actually, I don't see any way to do this. We have two artifacts we could return:

1. The root descriptor (that which the tag resolves to)
2. The manifest (that which the descriptor points to)

The root descriptor is going to look like [this](https://pkg.go.dev/github.com/opencontainers/image-spec/specs-go/v1#Descriptor):

[code]

It will _not_ have your annotations, because the annotations don

[2021-09-13 09:01] luisdavim commented on #22
Yeah, for now I'm making an extra http call to the registry to get the manifest and unmartial it so if I could get it from the copy operation that would be great :)
But why can't I resolve the manifest ref from the store as in my question above?

[2021-09-13 09:04] deitch commented on #22
Not quite. I think you are misconstruing how `File` works.

`File` is set up to read files (which will be layers, and potentially config as well) from disk. It then builds the additional artifacts  needed (optionally config, manifest) to complete a valid spec to send to a target (oci, registry, etc.) _in memory_. It then sends those.

So when you use a `File` as a _to_, it isn't really keeping tho

[2021-09-13 09:08] luisdavim commented on #22
That might be a cleaner solution than just returning the raw JSON don't you think?

[2021-09-16 07:22] luisdavim commented on #22
This is not really solved, can it be reopened?

[2021-09-17 07:00] deitch commented on #22
@luisdavim let's try to bring this back to the beginning.

Where are you adding annotations, and where are they not showing up? If we look at a sample image (I am using the current `docker.io/library/alpine:3.14` as a sample tree):

[code]

The first descriptor (resolved from the tag) is completely out of your control, as provided by the registry (although in theory a registry can open it up, I ha

[2021-09-22 01:29] sajayantony opened #29 "Support copy of images and associated references"
The current copy implementation moves a source artifact to a target. The library needs to support moving references to support the following options

- [ ]  copy all references and graph of objects
- [ ] Filter references through matching a given artifacType e.g. `artifactType=sbom/example`
- [ ] Support excluding references of a given artifact type
- [ ] Support filter through matching annotation

[2021-09-22 18:48] sajayantony commented on #29
From a library perspective I think enabling regex/re2 support might all that is needed. CLI and other consumers can decided to expose or hide the complexity of accepting just strings or raw patterns.

[2021-09-28 01:49] SteveLasker opened #31 "oras push/cp --digest-only"
To support [tag update scenarios](https://github.com/notaryproject/notation/issues/45), where a new digest, and all its references should be pushed before a tag update is applied, we need a way to push a container image, or any `artifactType`, deferring the tag application.

Initially, I considered `docker push --digest-only`, and that may still be the best idea. Except, that would require a chang

[2021-10-07 22:09] mattfarina opened #33 "What's plan for stability?"
The readme notes:

This is a blocker for using this package as a trusted source and releasing stable functionality based on it. Is there a plan to a 1.0.0? Will there be any API guarantees at any point coming up?

People want to put artifacts in OCI registries but, I think, that needs to happen based on a stable foundation. What's the plan to get there?

[2021-10-18 19:46] sajayantony commented on #18
/cc @shizhMSFT @deitch

[2021-10-19 06:22] shizhMSFT commented on #18
/cc @northtyphoon @juliusl

[2021-10-22 07:34] shizhMSFT opened #36 "Unnecessary dependencies in `go.mod` introduced by examples"
It is good to have examples in the code. However, the examples introduce extra dependencies in the `go.mod` and `go.sum` files, which are not used by the actual `oras-go` library.

It will be better if we can separate the dependencies required by the library and the examples. When it is done, we have even more complex examples without bothering the `go.mod` file for the `oras-go` library.

To remo

[2021-10-25 06:19] #36 closed, assigned to nobody

[2021-10-25 20:39] simar7 opened #38 "Where is the actual readme?"
Hello,

I've been following the project readme as listed but it seems that the readme is severely out of date and many functions are either completely changed or removed altogether. This is the link I've been following: https://oras.land/client_libraries/go/

Where can I find a readme that would work with the latest release?

[2021-10-26 11:54] shizhMSFT opened #39 "Designing ORAS"
## Introduction

[ORAS](https://oras.land/) is a tool for working with OCI artifacts, especially ones in the OCI registries. It provides user-friendly interfaces to push and pull artifacts to / from registries as well as options for advanced scenarios.

## Unified Experience

The objective of ORAS is simple as transferring artifacts from one place to another.

In the conventional [client-server mo

[2021-10-28 06:44] shizhMSFT opened #40 "Rearrange Project Layout"
## Introduction

First thing first, thank ORAS maintainers for separating the `oras` utility into `oras` CLI and `oras-go` library.

Since `oras-go` is a Go library and not a command line tool any more, the [standard project layout](https://github.com/golang-standards/project-layout) is not proper for this repository anymore.

Consider that the following import block
[code]
will be better than
[co

[2021-10-28 06:49] shizhMSFT opened #41 "Roadmap Requested"
We need to have a roadmap on what will be there for version `0.6.0` or even `1.0.0`. With out a roadmap, we will lose our focus.

Making `oras-go` stable is more and more important as it is getting more and more adopters.

Related issues:

- #33

[2021-10-29 01:05] sajayantony opened #42 "Add pagination for discover API"
The current PR doesn't implement pagination and I would rather checkin the base implementation and add this incrementally.

[2021-10-29 18:08] sajayantony commented on #19
This is a fair ask and the API are covered under distribution. I think we would love to add this to the library.

[2021-11-01 20:54] sajayantony opened #43 "Support Graph Copy to local target"
As a part of the discoverers works, the oras project is defining the work to support graph copy from on remote registry to another.
The copy API semantics is about targets and if local is a target this doesn't work.

For e.g something like this
[code]

[2021-11-02 17:54] sajayantony commented on #39
I wanted to make sure were have an API spec for this  - Do we need to remove these wrapper types since they will have be non-breaking if we release them is my understanding

/cc @deitch

[code]

[2021-11-02 22:51] sajayantony commented on #39
Looking through this more and checkout out the types that we are exposing. What all should we trim out?

I am not sure if this is my lack of awareness but the content package seems like it exposing a large number of types that might just be better internal.

![](https://gist.githubusercontent.com/sajayantony/75bd90a7f3db4980b02b32bb6d23fd54/raw/e730fc31d6a87014f040f394289c904228af3601/diag.svg)

[2021-11-03 03:47] shizhMSFT opened #46 "Stable and Experimental APIs / Features"
## Issue Statement

The `oras-go` library is supposed to be simple and reliable. At the same time, we also want to do experiment on new APIs / features. Since `oras-go` is library, not a CLI, we can not use environment variables like `ORAS_EXPERIMENTAL=1` to turn on the experimental APIs. It becomes an issue on how stable and experimental APIs / features are managed.

## Proposal

We can have 2 se

[2021-11-03 18:49] sajayantony commented on #43
@shizhMSFT - Is there an issue for removing dependency on containerd here or will you open the issue as a design?

[2021-11-04 04:49] shizhMSFT commented on #43
I will open an new design issue for discussion.

[2021-11-07 03:42] #39 closed

[2021-11-11 18:45] sajayantony commented on #40
@shizhMSFT - How can we capture the requirement of supporting tag to digest resolution. We need this in multiple places.
Also a capability to get the manifest. Should I create another issue or can you add this to the design requirements.

[2021-11-11 18:50] mnltejaswini commented on #40
If the tool can be used for basic registry operations like HEAD/GET on a manifest by both tag & digest reference, it increases the scope of its usage

[2021-11-16 18:40] jdolitsky opened #47 "Release oras-go v1.0.0"
oras-go v0.5.0 has been validated in the Helm codebase (see https://github.com/helm/helm/pull/10294)

IMO this was a primary blocker for releasing this library with a v1.0 version.

Now that we know it works, more comfortable with doing so.

cc @shizhMSFT @deitch @SteveLasker @sajayantony

[2021-11-16 18:43] jdolitsky commented on #47
Was there anything else we wanted to add before this? Anything related to containerd removal? Discovery/referrers?

[2021-11-16 19:03] sajayantony commented on #47
@shizhMSFT from my team has been working on this fully. I think if helm needs a stable 1.0 - we should focus on supporting it and patching as needed. For artifacts and other capabilities the focus might be a 2.0 in that case if there are breaking changes.
I think the helm community is a large enough dependency to require a supported 1.0 and also the main reason how ORAS started up.

[2021-11-16 19:37] SteveLasker commented on #47
I largely agree with Sajay on this. We should deliver a stable build to the Helm community that has a declaration of a 1.0.
That said, stability is not just this 1.0 release, but subsequent releases. Since we've allocated @shizhMSFT fulltime on completing the work that @deitch started, I would like to understand how likely that refactoring work could converge as part of the 1.0.
The referrers API,

[2021-11-17 05:42] shizhMSFT commented on #47
I agree with @sajayantony on the stability of the ORAS library. Since `oras-go` is being or going to be used as a fundamental building block of many products and even security products, we need to care about the maintainability. Therefore, I think the containerd removal work, which I am actively working, should be in the scope of `1.0`. Otherwise, we would be overwhelmed by CVEs.

[2021-11-17 09:44] shizhMSFT opened #49 "[Epic] ORAS Go Library Revamp"
Targeting releasing `v2.0.0`, it is important to stabilize the `oras-go` library with the following criteria since `oras-go` is and will be used as a fundamental building block of production projects and even security products:

- Simple to use.
- Fewer dependencies.
  - More dependencies imply more maintenance work.
  - We need to release frequently just to update the dependencies if there are up

[2021-11-17 09:50] shizhMSFT opened #50 "Interface Design"
Since we are decoupling `containerd`, we need a new interface for `Target`.
[code]

[2021-11-17 10:49] shizhMSFT opened #52 "Copy API"
Based on #50, the `Copy` API originated by #8 need to be re-implemented without `containerd`.

That is, we need our version of

- `images.Childen`
- `images.Dispatch`

Since we are implementing the `images.Dispatch`, we can optimize the graph traversal for our ORAS scenarios.

In fact, `images.Dispatch` is designed for [trees](https://en.wikipedia.org/wiki/Tree_(data_structure)) not for [DAGs](htt

[2021-11-17 10:52] shizhMSFT opened #53 "Extended Copy API"
Besides #52, we also need to implemented the [Extended Copy](https://oras.land/client_libraries/#extended-copy) API.

[2021-11-17 10:55] shizhMSFT opened #54 "Memory Target"
To make `Copy` useful, we need to implement a `Memory` target based on the current `oras.land/oras-go/pkg/content.Memory`.

[2021-11-17 10:57] shizhMSFT opened #55 "OCI Target"
To make `Copy` useful, we need to implement a `OCI` target based on the current `oras.land/oras-go/pkg/content.OCI`.

OCI Layout specification can be found at https://github.com/opencontainers/image-spec/blob/main/image-layout.md

[2021-11-17 11:15] shizhMSFT opened #56 "File Target"
To make `Copy` useful, we need to implement a `File` target based on the current `oras.land/oras-go/pkg/content.File`.

A file target consists of

- A virtual CAS. This is because contents are location-addressed by file paths. The file paths are mapped to the virtual CAS where all metadata are stored in the memory.
- A memory based reference resolver.

[2021-11-17 11:18] shizhMSFT opened #57 "Registry Target"
To make `Copy` useful, we need to implement a registry client for the `Registry` target.

[2021-11-17 11:28] shizhMSFT opened #58 "Registry Interface"
Since oras is not just a tool for transfering contents between storages, it is also a fully functional registry client now. Therefore, we need to design a proper user-friendly interface for the Registry.

Based on [Docker Registry HTTP API V2](https://docs.docker.com/registry/spec/api/), the registry client should have the following abilities:

1. List repositories.
2. Upload / Download / Delete l

[2021-11-17 11:31] shizhMSFT opened #59 "Copy Options"
#52 covers the basic copy scenarios. However, people may want extra flexibilities on `oras`. In that case, we can add `...Option` support just like what we have now.

[2021-11-17 11:33] shizhMSFT opened #60 "Update Example"
Once we have the least code working, we should update the examples so that people can try themselves.

Examples (originally from @sajayantony 's list):

- [x] Download Manifest
- [x] Download a Blob given the digest
- [x] Put Manifest
- [x] Create manifest with Annotation
- [x] Upload Blob
- [x] Upload Manifest with blob
- [x] Copy Artifact
- [x] Insecure TLS / Plain HTTP
- [ ] HTTP Client Configu

[2021-11-17 11:33] shizhMSFT opened #61 "Update Makefile and scripts"
We need to update Makefile and scripts once we revamp the `oras-go` library.

[2021-11-17 11:39] shizhMSFT opened #62 "Create nested module `oras.land/oras-go/pkg`"
Create nested module `oras.land/oras-go/pkg` for the old implementation and leave `oras.land/oras-go` to the new implementation. Hence, we can have the old and new implementations at the same time.

[2021-11-17 11:40] shizhMSFT opened #63 "Remove old implementation"
Once the new implementation is done and well tested, we can drop the old implementaion. For users who want the old implementation, they can pin the `oras-go` version to `v0.5.0`.

[2021-11-17 11:45] shizhMSFT opened #64 "Adapters for containerd remotes.Resolver"
Optionally, we can have an adaptor example in the `example` folder to adapt `remotes.Resolver` to our `Target` interface if users insist to use `containerd` implementation. Since  the `example` folder is a nested module, it will not impact the dependencies of the main module.

[2021-11-17 12:40] deitch commented on #64
I like this idea. The only suggestion I would have is to put it in a different folder. `examples` is treated as, well, examples, not necessarily part of production code. Perhaps `adapters/containerd/`, and we can have other future `adapters/*/` if needed? It still would be a nested module, but would have a pathing that indicates it matters.

[2021-11-17 21:15] #50 closed

[2021-11-17 21:16] #62 closed

[2021-11-18 01:30] sajayantony commented on #49
@shizhMSFT Which item do you consider things like retrieving manifests from local or remote target?

[2021-11-18 02:16] SteveLasker commented on #49
looks good.
Where would you see unit tests being added for stability to changes?
Is the expectation that each milestone can be validated with the oras client?

[2021-11-18 03:15] shizhMSFT commented on #49
Manifests are modeled as blobs. Therefore, retrieving manifests can be done by retrieving the blob. Since target has a tag resolver, manifests can be retrieved by generic tags.

[2021-11-18 03:17] shizhMSFT commented on #49
The unit tests will be added in the corresponding go packages.

Milestones here are like stages. We can start updating `oras` CLI when the milestone 4 is completed.

[2021-11-18 09:15] shizhMSFT commented on #64
Instead of a nested module, I am considering put those adapters in a different repository or repositories. It will be clearer and easier to maintain.

Quoted from the [Multi-Module Repositories](https://github.com/golang/go/wiki/Modules#faqs--multi-module-repositories) doc,

The above doc also points out two major scenarios for the nested modules. **Example code** is one of them. The reason is pre

[2021-11-20 05:15] shizhMSFT opened #76 "Update `go.mod` in `main` to `oras.land/oras-go/v2`"
Since we have `oras-go` [version 1](https://github.com/oras-project/oras-go/releases/tag/v1.0.0) released, we have to update the `go.mod` in the `main` branch to `oras.land/oras-go/v2` as documented in the [go doc](https://golang.org/ref/mod#modules-overview).

[2021-11-20 05:18] shizhMSFT commented on #63
Since we have already released `v1.0.0` and all `v1` related implementation are in the [v1](https://github.com/oras-project/oras-go/tree/v1) branch, we can safely drop the old implementation in the `main` branch.

/cc @sajayantony @deitch @jdolitsky

[2021-11-20 05:23] sajayantony commented on #63
Sounds reasonable. I think reshaping this for 2.0 makes sense.

[2021-11-23 07:29] #76 closed

[2021-11-23 08:27] shizhMSFT opened #78 "Trace logs"
In `v1`, logs are traced via [github.com/sirupsen/logrus](github.com/sirupsen/logrus) as `containerd` uses it.

Since not all adopters use `logrus` or go built-in `log`, we might need something similar to [net/http/httptrace](https://pkg.go.dev/net/http/httptrace).

[2021-11-23 17:39] scottrigby commented on #47
This was agreed upon in the last ORAS meeting (see [meeting notes](https://hackmd.io/P-O6n222TcSMoJgHmTTduw)), and implemented here! https://github.com/oras-project/oras-go/releases/tag/v1.0.0

# 💪 🎉 🍾

[2021-11-23 17:44] SteveLasker commented on #47
Closing as 1.0 is released

[2021-11-23 17:44] #47 closed

[2021-12-01 19:59] #52 closed

[2021-12-06 09:37] #58 closed

[2021-12-07 06:24] shizhMSFT opened #83 "Resolve manifest with conversions"
[distribution](https://github.com/distribution/distribution) supports manifest conversion between manifest types by setting the `Accept` header.

There are two types of conversion supported by `distribution` as in the [code](https://github.com/distribution/distribution/blob/v2.7.1/registry/handlers/manifests.go#L179-L228)

- Convert docker schema2 manifests to scheme1 manifests.
- Convert a manife

[2021-12-10 11:10] jotadrilo opened #84 "The FileStore closer always return error"
## Description

I have found that `FileStore` implements a buggy `Close` function:

https://github.com/oras-project/oras-go/blob/99e2fdec2e997165c48148739767530965aeac26/pkg/content/file.go#L306-L316

### Example

https://go.dev/play/p/UvfCFZTUwpk

[code]

Run

[code]

## Affected users

Only users handling errors in the deferred function:

[code]

### Workaround

[code]

## Fix proposal

Check er

[2021-12-24 08:33] #54 closed

[2021-12-24 08:49] #57 closed

[2022-01-04 15:26] scottrigby commented on #33
This has been addressed 🎈
- #74
- #75
- https://github.com/oras-project/oras-go/releases/tag/v1.0.0

Thanks @mattfarina @sajayantony @jdolitsky and everyone

[2022-01-04 15:33] scottrigby commented on #19
This has been addressed in `main` for v2 (I believe by #57 and #58, though someone help link to the correct PRs if I'm wrong about that).

A backport for v1 is being worked on now by @sabre1041
Also see https://github.com/helm/helm/issues/9694#issuecomment-1004910307

[2022-01-04 17:08] sabre1041 commented on #19
@scottrigby Right now, the work is scoped to the tag listing. The image listing will still remain outstanding

[2022-01-04 17:22] scottrigby commented on #19
Good point @sabre1041

Clarification between listing images and tags, by ORAS branch (related to ORAS MAJOR version). In `main` (for forthcoming v2) you can pass in a registry and it will provide a list of repositories (images). You can also list all tags of an image.

@luisdavim At the time of your OP there was not a stable version, so assume you OK with using `main`.

The backport to v1 @sabre10

[2022-01-05 11:13] #33 closed

[2022-01-14 02:03] shizhMSFT commented on #84
@jdolitsky @Wwwsylvia This is related to `v1`.

[2022-01-14 02:17] shizhMSFT commented on #84
Thanks @jotadrilo for pointing out the bug. I've converted your proposal into a PR #93. Since the `/pkg` folder will be eventually removed in `main`, I will hold the change to the `main` branch.

[2022-01-14 14:08] trysetnull opened #94 "Copy to Azure Container Registry hangs"
### Summary
I can use `oras.Copy` to copy from a remote (Azure container registry) to a memory target but not the other way around, the Copy function never returns.

Using the same code works when copying to a remote docker registry (running in a [docker container](https://hub.docker.com/layers/registry/library/registry/2.7/images/sha256-36cb5b157911061fb610d8884dc09e0b0300a767a350563cbfd88b4b8532

[2022-01-14 20:52] SteveLasker opened #95 "Update oras-go to reflect ORAS Artifact Manifest Draft.2"
Once [Draft.2 of the ORAS Artifact manifest](https://github.com/oras-project/artifacts-spec/milestone/3) is released, implement the changes in oras-go, then [update oras](https://github.com/oras-project/oras/issues/348)

[2022-01-15 05:14] shizhMSFT commented on #94
@Wwwsylvia Could you take a look?

[2022-01-15 05:37] shizhMSFT commented on #84
Closing as the fix #93 has been merged to the `v1` branch.

[2022-01-15 05:37] #84 closed

[2022-01-16 16:15] shizhMSFT opened #96 "`Copy()` falls into a dead loop if there is an error"

[2022-01-16 16:19] shizhMSFT opened #97 "Fail to push images to private registries"
`PUT` requests are attempted twice. The body is read for auth and gets empty for the retried requests.

[2022-01-16 16:19] shizhMSFT commented on #94
Thanks @trysetnull for pointing out the bug. There are actually two bugs:

- #96
- #97

We will sort out them accordingly.

[2022-01-16 16:26] shizhMSFT commented on #97
@Wwwsylvia This is the bug we've discussed offline. We need to address it ASAP since it blocks lots of scenarios.

[2022-01-17 07:53] shizhMSFT opened #99 "Mismatch registry scope hint"
According to [distribution](https://github.com/distribution/distribution/blob/main/registry/handlers/app.go#L922-L931), pushing images requires `pull,push` actions. However, our registry client only has hint for `push`.

[2022-01-18 08:03] Wwwsylvia commented on #97
When we [do PUT request](https://github.com/oras-project/oras-go/blob/main/registry/remote/auth/client.go#L162-L230), we  first attempt to send the request with HTTP Body at [line #162](https://github.com/oras-project/oras-go/blob/main/registry/remote/auth/client.go#L162). If this request failed for Unauthorized error, we will deal with the Auth header and attempt again at [line #203](https://gith

[2022-01-18 16:33] shizhMSFT commented on #97
In fact, `containerd` also has this issue. However, it works because it has the right guess on scope actions (i.e. `pull,push`), and fetches the bearer token when doing `HEAD` requests for the existance check.

We are not able to optimize it at the `auth.Client` level. However, we can fix this bug issue by

1. Guard the `auth.Client` to prevent double read the request body if the body is not rewin

[2022-01-21 03:48] #96 closed

[2022-01-21 03:55] sajayantony commented on #60
Add the list of items we potentially need as examples -

# ORAS API Usecases

The following usecase can help define the list of examples that a new developer should be able to refer.

1. Download Manifest
2. Download a Blob given the digest
3. Put Manifest
4. Create manifest with Annotation
5. Upload Blob
6. Upload Manifest with blob
7. Copy Artifact
8. Upload manifest with reference
9. Download r

[2022-01-21 05:43] #99 closed

[2022-01-21 05:54] shizhMSFT commented on #83
/cc @sajayantony

[2022-01-21 05:55] #97 closed

[2022-01-21 05:56] shizhMSFT commented on #94
@trysetnull The bugs have been fixed. Could you have a try on the updated `oras-go` library?

[2022-01-21 07:51] shizhMSFT opened #102 "More simplified UX"
A common scenario is to get content such as manifest and blob into the memory for further processing.

Although the `Resolve()` and `Fetch()` methods in the `Target` interface provides a simple clean secure way to read content, we still need a simplier UX such as `GetManifest()` and `GetBlob()` (or can be further combined as `GetContent()`). Similarly, we might also need `PutContent()` in the `ora

[2022-01-21 08:40] shizhMSFT opened #103 "Backport fixes to `v1`"
The following PRs might need to be backported to `v1`.

- #100
- #101

[2022-01-21 09:56] trysetnull commented on #94
I can confirm that it now works for me.

[2022-01-21 09:56] #94 closed

[2022-01-21 13:28] #61 closed

[2022-01-24 13:53] #55 closed

[2022-01-24 17:30] sajayantony commented on #95
My feedback here would be to first get notation to use the new libraries and then queue up a short update since this is dependent on having a testable registry server.

[2022-01-24 17:51] sajayantony commented on #83
I think from a library perspective it makes sense. I also want to see if we can provide an API option to actually request the manifest by
1. type
2. platform
3. Annotation filter ( maybe later)

2 and 3 might be client side.

[2022-01-24 17:55] sajayantony commented on #102
We should start discussing an RC bar at this point and once that is release update notation, ratify and other projects like oras CLI.

[2022-01-25 01:34] shizhMSFT commented on #83
Points 2 and 3 make more sense. We can add them later within #102.

[2022-01-27 06:18] shizhMSFT opened #106 "404 on https://oras.land/oras-go/v2"
Failed to add package `oras.land/oras-go/v2` to a project.

[code]

If the entry is manually added to `go.mod`, it reports error after running `go mod tidy`

[code]

Workaround: Add the following entry to the `go.mod` file:

[code]

[2022-01-27 07:28] shizhMSFT commented on #95
I've noticed that the [Manifest Referrers API](https://github.com/oras-project/artifacts-spec/blob/main/manifest-referrers-api.md) has been updated. Once `draft.2` is released, the `oras-go` will be updated accordingly.

[2022-01-29 00:30] jdolitsky commented on #106
This should now be resolved. Please see the the linked PR for oras-www if need to add more resolves

[2022-01-29 00:30] #106 closed

[2022-02-11 22:11] souleb opened #107 "Authentication fails when the client runs in a pod with a read only fs"
We are prototyping the use of oras-go in a kubernetes controller. The controller runs in a pod with a sourcecontext

[code]

When trying to log to the remote registry, we get the error:
[code]

The happens when login with
[code]

[2022-02-14 13:47] #107 closed

[2022-03-01 06:34] shizhMSFT commented on #60
Assigning this item to @qweeah.

[2022-03-01 06:35] qweeah commented on #60
Ack

[2022-03-04 08:21] Wwwsylvia opened #110 "internal/graph/memory.go improvement"
In the `IndexAll()` function, the `done` channel is not actually used. We should improve the code.
See https://github.com/oras-project/oras-go/blob/main/internal/graph/memory.go#L60

[2022-03-14 15:49] viovanov opened #113 "Support for the oci content store in v1?"
Hi! Is there planned support in v1 for local OCI content stores?
We've been using it in https://github.com/opcr-io/policy - version 0.4.0.

[2022-03-15 04:09] shizhMSFT commented on #113
@viovanov `v1` depends on `containerd`. Thus you can use the [containerd OCI content store implementation](https://github.com/containerd/containerd/blob/main/content/local/store.go#L72) directly.

[2022-03-16 01:00] #110 closed

[2022-03-16 07:19] shizhMSFT commented on #113
@viovanov Currently, we don't have plan to implement new features for `v1`.

Please try `v2` instead and help us make `v2` better by sharing experiences and open issues.

[2022-03-21 07:32] qweeah opened #120 "Add retag function for TagResolver interface"
As a developer, I want oras go to have `Retag` function so I rename a tag. Function signature would be like
[code]

[2022-03-24 17:01] sajayantony commented on #64
Should we close this issue since we are now at the point of having removed containerd overall.

[2022-03-24 17:06] shizhMSFT commented on #64
Closing this issue since users can opt to oras-go `v1` for `containerd`. `containerd` support is completely dropped for `v2`.

[2022-03-24 17:06] #64 closed

[2022-03-24 17:25] sajayantony commented on #60
@qweeah - can you include GetManifest in the examples.

[2022-03-24 20:43] akashsinghal opened #122 "Add Function to Fetch Manifest Using Reference"
- Currently, v2 requires a manifest descriptor to be resolved first before calling `Fetch` to get the artifact manifest
- Propose to add a function that will take in a reference and return the artifact manifest

[2022-03-25 02:45] Wwwsylvia opened #123 "Bug: oci.New() returns error when root directory does not exist"
https://github.com/oras-project/oras-go/blob/main/content/oci/oci.go#L158-L173

When the root directory does not exist, writing layout file in the root directory will fail.
We should create all directories in the path before writing the layout file.

[2022-03-29 04:54] #123 closed

[2022-04-02 10:11] qweeah opened #126 "Stop sending out seek operation for fetching chunked blobs"
If a oras-go user want to get a blob chunk from a remote target, he/she can
1) fetch the blob io reader via a resolved descriptor
2) seek the io reader to a target offset
3) read out the chunked content

In the currently implementation, while calling the seek operation, a HTTP request will be sent to the remote registry. So if a user seek multiple time before reading out a single chunk, more than

[2022-04-05 01:55] #122 closed

[2022-04-11 02:45] #56 closed

[2022-04-15 10:19] Wwwsylvia commented on #120
Make sense.
It can be `func Tag(ctx context.Context, repo Repository, srcRef, dstRef string) error` in the package `registry`. And we can have it leverage the `FetchReference` and `PushReference` functions to minimize the number of calls.

[2022-04-15 10:30] Wwwsylvia opened #128 "Promote method `internal/ioutil.ReadAll` to package `content`"
Since it's common to read and verify the fetched content, we can promote the utility method [internal/ioutil.ReadAll](https://github.com/oras-project/oras-go/blob/main/internal/ioutil/io.go#L37) to the package `content` for better usability.

[2022-04-15 15:11] qweeah commented on #60
@sajayantony I think it's covered by [Example_pullByTag](https://github.com/oras-project/oras-go/blob/main/registry/remote/example_test.go#L490) and [Example_pullByDigest](https://github.com/oras-project/oras-go/blob/main/registry/remote/example_test.go#L523)

[2022-04-18 01:01] northtyphoon opened #129 "Failed to copy manifest with 0 size config"
I tried to copy a manifest from registry `binducentralus.azurecr.io/samples/artifact:1.0`. This manifest has a config whose size is 0.

[code]

The following code failed as 400 bad request.

[code]

The problem was the invalid range header value (`bytes=0--1`) in the download request due to https://github.com/oras-project/oras-go/blob/c34895e747dcd988adb3cc959302b5e94117195b/registry/remote/reposi

[2022-04-19 18:23] sajayantony opened #131 "Support oras artifacts spec RC1"
This issue tracks the release of orag-go with support for artifacts-spec RC1 -
https://github.com/oras-project/artifacts-spec/releases/tag/v1.0.0-rc.1

[2022-04-19 18:30] sajayantony commented on #131
@jdolitsky  - should we close this issue. My understanding is that porter supports pushing bundles right now -

[2022-04-19 18:30] #131 closed

[2022-04-22 16:23] shizhMSFT opened #132 "Reviewing Pull Requests"
As suggested by @sajayantony, it is good to [make a reviewing guide](https://contribute.cncf.io/maintainers/github/templates/recommended/reviewing/) for `oras` and `oras-go`.

Let's start with the `oras-go` repository, and do a copy in `oras` once the doc is revised.

[2022-04-26 10:01] wangxiaoxuan273 commented on #129
Please assign this issue to me, thanks

[2022-04-27 01:39] shizhMSFT opened #134 "Upgrade `oras-go` to RC1 artifacts spec"
`oras-go` is required to be updated to meet the latest spec by [oras-project/artifacts-spec#v1.0.0-rc.1](https://github.com/oras-project/artifacts-spec/releases/tag/v1.0.0-rc.1).

[2022-04-27 01:40] shizhMSFT commented on #134
Closing since it is a duplicate of #131.

[2022-04-27 01:40] #134 closed

[2022-04-27 08:48] #53 closed

[2022-04-27 08:55] Wwwsylvia opened #135 "Extended Copy performance improvement"
We can introduce go-routines to speed up the Extended Copy at here:
https://github.com/oras-project/oras-go/blob/f701e60ea36cd64189c66814f72e4cddcb375abe/extendedcopy.go#L102-L106

[2022-05-06 02:49] shizhMSFT opened #136 "Repository level auth provider support"
The `auth.Client` takes a `Credential` function which accepts a registry string.

https://github.com/oras-project/oras-go/blob/ed1a2571617eca7b6661df33038a0910fdbe15f6/registry/remote/auth/client.go#L71

Instead of just a registry host, the `Credential` function should take a `Reference` object to achieve repository level auth if hinted in the request context. If the `Reference` object is not hint

[2022-05-06 03:37] shizhMSFT commented on #136
In addition to the functionality, I also have the following security considerations:

- The hinted reference registry should match the registry host in the request to avoid sending the credentials to random parties.

[2022-05-06 07:22] Wwwsylvia opened #137 "Proper naming for UpEdges/DownEdges methods"
Currently, we have an [UpEdges](https://github.com/oras-project/oras-go/blob/main/content/graph.go#L28-L35) method which returns the nodes directly pointing to the current node, and a [DownEdges](https://github.com/oras-project/oras-go/blob/main/content/graph.go#L37-L85) method which returns the nodes directly pointed by the current node.
However, the `UpEdges` / `DownEdges` names may not be appro

[2022-05-06 07:27] Wwwsylvia commented on #137
As we all know, naming is hard! 😋

[2022-05-07 13:14] shizhMSFT opened #138 "Add godoc link/badge for v2"
There is no godoc entry point for v2.

[2022-05-07 13:31] shizhMSFT opened #140 "Implement `aritfactType` filtering"
The current [remote.Repository](https://github.com/oras-project/oras-go/blob/main/registry/remote/repository.go#L343) does not support [artifact type filtering](https://github.com/oras-project/artifacts-spec/blob/main/manifest-referrers-api.md#filtering-results) for the referral API. It is marked as an to-do item.

[2022-05-09 04:04] #138 closed

[2022-05-10 04:39] raygecao opened #141 "ProviderWrapper can't read intact desc when the size is large"
When I use ProviderWrapper to get descriptor，an error is shown as follows:
[code]
The error is thrown during `json.Unmarshal`，because the  manifest is partial read.

After some debug, the bug is direct read  shown below causing partial read:
https://github.com/oras-project/oras-go/blob/52eccf5764eb9994d88d1aa69025da04d6963187/pkg/oras/provider.go#L74

An example for partial read:
[code]

The outpu

[2022-05-11 21:52] sajayantony commented on #137
Maybe @jdolitsky might have some nice ideas here.
Things that get attached to an image, `refer` to the image manifest. So these are `referrers` of the manifest and the API in ORAS/OCI working group are all aligning with that so that sounds reasonable.

Looking from the attachment's point of view which is the source node, the image or blob is a sink node. I hope I am not wrong here - https://cseweb

[2022-05-13 07:00] Wwwsylvia commented on #137
Thanks @sajayantony for the insights. I've created a poll fort this - See #144 .

[2022-05-13 07:17] Wwwsylvia commented on #137
I'm now actually prefer `Parents` / `Children` because it is at least easy to understand for users. 😄

[2022-05-13 08:44] sajayantony commented on #137
The issue I have with the term `parent` is that the referrers are not parents of the manifest. It is like saying the manifest is the parent of the blob, which it isn't. Also the signature is not a parent of the image. The image needs to exist before the signature and might seem confusing. Again my vote would for something like

func Referrers(ref string) ([] descriptors)   // query all manifests t

[2022-05-13 09:47] shizhMSFT commented on #137
Yes, the return the blobs are ordered. The first one is always config if config is not optional. Also, the layers remain the original order.

[2022-05-14 23:17] vsoch opened #147 "Support for retry?"
hey oras developers!

I've been using oras in CI, and I typically need to wrap it in some kind of retry with exponential backoff. To compare to another registry client, when I use docker it will retry pulling blobs, and same with Singularity. How could it work? I suspect there could be some `Retry-After` header returned from a server, and if not, the user could specify a number of retries.  Would

[2022-05-16 06:13] shizhMSFT commented on #147
Thanks for mentioning the retry. The retry functionality is planned after then release of `v2` as an enhancement.

Retrying seems to be a simple feature, but it is not. There are two levels of retry: HTTP level retry and application level retry.
- **HTTP Level**: Not all requests are retriable. Only GET and HEAD requests can be retried. Retrying PUT/PATCH/POST requests is problematic. For uploadin

[2022-05-16 09:06] shizhMSFT commented on #129
Resolved by #145

[2022-05-16 09:06] #129 closed

[2022-05-16 09:39] shizhMSFT commented on #141
Closing as resolved by #142

[2022-05-16 10:22] Wwwsylvia commented on #137
Another option is `Predecessors`/`Successors` or `DirectPredecessors`/`DirectSuccessors`, which are the academic terms for "up edges" and "down edges" of a node in a directed graph.
It's mentioned in many books such as [Understand Mathematics, Understand Computing](https://link.springer.com/book/10.1007/978-3-030-58376-7).
![image](https://user-images.githubusercontent.com/8113721/168571477-b21061

[2022-05-16 10:55] shizhMSFT commented on #113
Closing as `v2` is suggested. Please re-open if there is an update.

[2022-05-16 10:55] #113 closed

[2022-05-16 11:00] shizhMSFT commented on #46
Closing as we have plans for `v2`.

[2022-05-16 11:00] #46 closed

[2022-05-16 11:04] shizhMSFT commented on #43
Resolved by #66 and tracked in #49 .

[2022-05-16 11:04] #43 closed

[2022-05-16 11:06] shizhMSFT commented on #42
Resolved by #82

[2022-05-16 11:06] #42 closed

[2022-05-16 11:07] shizhMSFT commented on #41
Closing as we have milestones.

[2022-05-16 11:07] #41 closed

[2022-05-16 11:09] #40 closed, assigned to deitch, jdolitsky, sajayantony, SteveLasker

[2022-05-16 11:10] shizhMSFT commented on #38
Please refer to the README.md for code documentation. For other docs, please visit https://github.com/oras-project/oras-www

[2022-05-16 11:10] #38 closed

[2022-05-16 11:12] shizhMSFT commented on #19
Closing the issue as this has been addressed in `main` and has been backported to `v1`.

[2022-05-16 11:12] #19 closed

[2022-05-16 11:13] shizhMSFT commented on #18
Closing as auth provider support is already there.

[2022-05-16 11:13] #18 closed

[2022-05-16 16:57] vsoch commented on #147
Excellent! And yes of course a good design goes without saying.

[2022-05-17 16:32] Wwwsylvia commented on #137
Agreed. But is the blob a child of the manifest, when the manifest is not the parent of the blob?

Combining `References` and `Descriptors`, how about `ReferencedDescriptors` or `DescriptorReferences` ? So that we have `Referrers`/`DescriptorReferences`. @sajayantony

[2022-05-17 20:01] sajayantony commented on #137
For the last exercise of API design on another SDK we prototyped how to calls would look in a small snippet and evaluated what aligns Best with the usage of the API. I think if we did a similar exercise it might help us come to a decision faster.

Would you be able to share how you would call These APIs with some contextual code around the calling method?

[2022-05-18 09:24] Wwwsylvia commented on #137
Actually oras-go v2 provides two sets of interfaces based on different perspectives.
From graph perspective, every ORAS target (including repository, OCI, and file) implements the [UpEdges (or Predecessors) ](https://github.com/oras-project/oras-go/blob/main/content/graph.go#L28-L35)method that returns the nodes directly pointing to the current node.
From domain perspective, the remote repository

[2022-05-18 09:35] Wwwsylvia commented on #137
Here are some example snippets of how to use the `Referrers` and the `Predecessors` (previously `UpEdges`) methods for `oras discover`:

### Discover artifact referrers against a remote repository

[code]

### Discover referrers against an OCI store
[code]

[2022-05-20 09:44] Wwwsylvia commented on #137
@sajayantony Are you OK with renaming `UpEdges` to `Predecessors`?

[2022-05-20 09:56] Wwwsylvia opened #149 "Add examples for the auth package"
We need to add some examples for the [auth package](https://github.com/oras-project/oras-go/tree/main/registry/remote/auth), just like [example_test.go](https://github.com/oras-project/oras-go/blob/main/registry/remote/example_test.go).
This work is part of #60.

[2022-05-26 03:27] shizhMSFT opened #155 "Refine CI Test"
We have duplicated `build.yml` and `build-pr.yml` for our unit testing. It is better to merge them with a proper badge.

Meanwhile, since `oras-go` is a golang module / library, it should be tested against a list of go versions.

Reference: https://docs.github.com/en/actions/monitoring-and-troubleshooting-workflows/adding-a-workflow-status-badge

[2022-05-26 06:44] #155 closed

[2022-05-26 23:52] sajayantony commented on #137
Looking at that sample - nope. I honestly prefer referrers.

[2022-05-27 06:34] sajayantony commented on #137
Had a coversation with @shizhMSFT on this. And he feels strongly that we are implementing a graph here and so
Successors means all nodes pointed to from the current node and predecessors means all nodes that are pointing to the current node.

If we use that then we should give an explanation in the functions and interfaces of what an example successor and example predecessor would be.

[2022-05-27 06:37] #132 closed

[2022-05-31 07:17] wangxiaoxuan273 commented on #60
Sure. Please assign this to me.

[2022-05-31 07:54] shizhMSFT commented on #149
@wangxiaoxuan273 Could you also pick up this one?

[2022-05-31 07:58] wangxiaoxuan273 commented on #149
Please assign this to me, thanks

[2022-06-02 18:48] sajayantony commented on #137
I'm hoping this issues makes this in before releasing a 2.0 alpha of this package.

[2022-06-06 14:12] Wwwsylvia commented on #137
@sajayantony Sure, I will do this after #150 is merged.

[2022-06-06 23:12] lucacome opened #161 "Update to Go 1.18"
Go 1.18 was [released](https://go.dev/blog/go1.18) and brings a few improvements and bug fixes.

I'm still not 100% familiar with the codebase, but I think some of the benefits for the project are:

Also until specific features for 1.18 are used (like the use of generics) it will still be possible to compile with go 1.17

[2022-06-07 05:01] shizhMSFT commented on #102
An interesting user case can be found at #22

[2022-06-07 09:35] qweeah opened #163 "Can we make the proxy struct and related methods public?"
When working on upgrading pull command for ORAS CLI, I need to create a OCI store to avoid fetching duplicated blobs again and again from the remote source. I found the internal [Proxy ](https://github.com/oras-project/oras-go/blob/main/internal/cas/proxy.go) struct in ORAS-go's internal cas package is just what I need. Can we make the proxy struct public so clients can reuse it to build light-wei

[2022-06-07 10:31] Wwwsylvia commented on #60
I just noticed that there is no item related to `referrers` in the example list.
In the following items, does `artifact reference` mean `subject` here? Or do we actually mean `referrers`?
-  Upload artifact reference manifest
-  Download artifact reference manifest
-  Download blob of artifact reference manifest
-  Copy reference
-  Copy artifact and references

The term `reference` seems to repre

[2022-06-07 15:25] shizhMSFT opened #164 "Upgrade CodeQL Action to v2"
CodeQL action gives a warning:

[2022-06-07 16:36] lucacome opened #166 "Release v1.1.2"
Is it possible to release `v1.1.2`? It will contain a bug fix and dependencies updates. Thanks!

[2022-06-08 06:05] shizhMSFT commented on #166
@jdolitsky Could you help with this since it is v1?

[2022-06-08 06:06] shizhMSFT commented on #166
/cc @FeynmanZhou

[2022-06-08 06:48] #164 closed

[2022-06-08 12:24] shizhMSFT opened #170 "Missing unit tests for utils of File Target"
We don't have unit tests for important utility functions like `ensureBasePath` in `content/file/utils.go`.

Therefore, we need add more unit test for more confidence.

[2022-06-09 07:02] wangxiaoxuan273 commented on #60
[ExampleRepository_Fetch_layer](https://github.com/oras-project/oras-go/blob/5b0f92b879ebe7b478dbae7d08d4a4a925085742/registry/remote/example_test.go#L380) is an example of `Download a Blob given the digest`, so this item should be checked.

[2022-06-13 23:24] SteveLasker opened #175 "creation of a new ORAS Artifact manifest should set `io.cncf.oras.artifact.created`"
ORAS Artifact manifests added `io.cncf.oras.artifact.created` to account for artifact lifecycle management as an artifact is promoted across registries. See [ORAS Artifact Manifest Properties](https://github.com/oras-project/artifacts-spec/blob/main/artifact-manifest.md#oras-artifact-manifest-properties) and the [Referrers Sorting Results API](https://github.com/oras-project/artifacts-spec/blob/ma

[2022-06-14 01:50] shizhMSFT commented on #175
@SteveLasker Is this annotation field `io.cncf.oras.artifact.created` a MUST or SHOULD or MAY?

[2022-06-14 02:23] #163 closed

[2022-06-14 07:54] #170 closed

[2022-06-15 12:56] shizhMSFT commented on #103
Closing the issue since the v2 push is not ported to `v1`.

[2022-06-15 12:56] #103 closed

[2022-06-15 13:08] #166 closed, assigned to deitch, jdolitsky, sajayantony, SteveLasker, Wwwsylvia

[2022-06-15 14:57] shizhMSFT opened #177 "Fail to push if port 443 is explicitly specified in the hostname"
If the port `443` is explicitly set to the hostname like `myregistry:443/myrepo`, blob push will fail since the hostname of the `Location` header in the response is set to `myregistry` instead of `myregistry:443`.

https://github.com/oras-project/oras-go/blob/4ed4d30e890b9ff39c8dc231f98e80637badce00/registry/remote/repository.go#L520

Thus, the auth client missed the cache and fails.

[2022-06-15 14:58] shizhMSFT commented on #177
This bug applies to port `443` for HTTPS and port `80` for HTTP.

[2022-06-15 15:16] shizhMSFT commented on #161
As mentioned in #153, the version in the `go.mod` is the minimum version. `go 1.17` simply means that the `oras-go` library can be compiled against go 1.17, 1.18, and newer versions.

[2022-06-15 19:26] SteveLasker commented on #175
Good question @shizhMSFT. The spec doesn't actually call out MUST, SHOULD, MAY.
And, that is a good question to raise. From an oras-go library, setting the value will help users with smart defaults, so adding this will make the default scenarios easier to consume later.

[2022-06-16 02:42] shizhMSFT commented on #177
@patrickzheng200 Could you help fixing this bug?

[2022-06-16 02:42] patrickzheng200 commented on #177
Taking a look.

[2022-06-16 02:45] shizhMSFT commented on #177
Here are the repro steps:
1. Setup a registry with basic auth and SSL. The port is open to `443` (e.g. `localhost:443`).
2. Use `oras-go` to push a blob to `localhost:443/somerepo` with credentials.

The step 2 will fail.

[2022-06-16 05:44] shizhMSFT commented on #59
Closed by #150

[2022-06-16 05:44] #59 closed

[2022-06-16 07:02] shizhMSFT opened #178 "Update Examples for ORAS Artifact Manifests"
Extending #60, we need examples for ORAS Artifact manifests.

- [x] Upload  ORAS Artifact manifest #172
- [x] Download ORAS Artifact manifest #173
- [x] Download blob of ORAS Artifact manifest #234
- [x] Copy ORAS Artifact manifest #241
- [x] Copy artifact and its referrers (i.e.  ORAS Artifact manifests) #248

[2022-06-16 07:03] wangxiaoxuan273 commented on #178
ack

[2022-06-16 07:14] #137 closed

[2022-06-16 12:28] shizhMSFT opened #180 "Improve README.md to point users for simple pull/push examples"
Improve README.md so that users can quickly find an example to do simple pull and push just like [simple_push_pull.go](https://github.com/oras-project/oras-go/blob/v1/examples/simple/simple_push_pull.go).

[2022-06-16 12:30] shizhMSFT opened #181 "Migration Log from `v1` to `v2`"
We need a migration log to show the differences between v1 and v2, and how users can migrate from `v1` to `v2`.

[2022-06-16 13:24] shizhMSFT commented on #181
Example migration guide can be found at https://github.com/golang-jwt/jwt/blob/main/MIGRATION_GUIDE.md

[2022-06-20 16:48] #180 closed

[2022-06-21 01:46] m5i-work commented on #140
@shizhMSFT Let me take a look.

[2022-06-21 01:52] wangxiaoxuan273 commented on #128
Please assign this to me.

[2022-06-21 01:53] shizhMSFT commented on #95
Succeeded by #131

[2022-06-21 01:53] #95 closed

[2022-06-21 05:56] shizhMSFT opened #188 "Update Referrers API to match RC.1"
To achieve max compatibility, we need to try the referrer API defined by `v1.0.0-rc.1`. Then fallback to `v1.0.0-draft.1` if failed.

Reference: https://github.com/oras-project/artifacts-spec/blob/v1.0.0-rc.1/manifest-referrers-api.md

[2022-06-21 07:16] Wwwsylvia opened #189 "Support successor filter in CopyGraphOptions"
We need to support successor filter in `CopyGraphOptions`, similar as the [FindPredecessors](url)  in `ExtendedCopyGraphOptions`.

[2022-06-23 03:38] #181 closed

[2022-06-23 03:45] shizhMSFT commented on #60
Closing as "HTTP Client Configuration" is tracked by #182 separately.

[2022-06-23 03:45] #60 closed

[2022-06-23 03:50] shizhMSFT opened #195 "Release v2.0.0-alpha"
We have reached milestone 5 defined by #49.

Once we merge #179, we will be ready to release `v2.0.0-alpha` as a _pre-release_ since coding is complete.

Further bug fixes and documentation enhancements such as #149 will be in [v2.0.0-rc](https://github.com/oras-project/oras-go/milestone/5) if they cannot catch the train.

[2022-06-23 03:50] shizhMSFT commented on #195
/cc @FeynmanZhou @yizha1

[2022-06-23 05:23] shizhMSFT opened #196 "Support `last` parameter for listing catalog and tags"
Users may want to start listing catalog and tag list in the middle with the `last` parameter.

Original discussion: https://cloud-native.slack.com/archives/CJ1KHJM5Z/p1655960108401079

See also:
- https://docs.docker.com/registry/spec/api/#pagination
- https://docs.docker.com/registry/spec/api/#pagination-1

[2022-06-23 15:30] shizhMSFT commented on #49
Closing as all issues are resolved.

[2022-06-23 15:30] #49 closed

[2022-06-24 05:08] #177 closed

[2022-06-24 07:35] Wwwsylvia opened #197 "Update the godoc badge link to the godoc of main branch"
We should reference the [godoc of the main branch](https://pkg.go.dev/oras.land/oras-go/v2@main) in the [badge](https://github.com/oras-project/oras-go/blob/main/README.md?plain=1#L28), so that users can always find the documentation.

[2022-06-24 08:15] shizhMSFT commented on #195
Released https://github.com/oras-project/oras-go/releases/tag/v2.0.0-alpha

[2022-06-24 08:15] #195 closed

[2022-06-24 08:59] #197 closed

[2022-06-24 09:13] shizhMSFT opened #199 "Remove `KEYS` file"
The `KEYS` file in the `oras-go` repository is never used since there is no binary to sign / verify.

[2022-06-27 06:15] Wwwsylvia opened #200 "Support `v1.0.0-rc.1` ORAS Artifact manifest schema"
Update oras-go to support the `v1.0.0-rc.1` [ORAS Artifact manifest schema](https://github.com/oras-project/artifacts-spec/blob/v1.0.0-rc.1/artifact-manifest.md).

- [x] #221
- [x] #207
- [x] #206
- [x] #208
- [x] #202

This issue is part of #131.

[2022-06-27 07:13] Wwwsylvia opened #201 "Support filtering predecessors by artifact type on ExtendedCopy"
When using [ExtendedCopy](https://github.com/oras-project/oras-go/blob/main/extendedcopy.go#L62), clients may want to filter predecessors of a node by their artifact type. Specifically,

- Include predecessors whose artifact type matches a given regex
- Exclude predecessors whose artifact type matches a given regex

To support this, we can provide some utility methods that configure the [FindPrede

[2022-06-27 07:14] shizhMSFT opened #202 "Upgrade Pack to Support ORAS Artifact Manifest"

[2022-06-27 07:15] Wwwsylvia opened #203 "Support filtering predecessors by annotation on ExtendedCopy"
When using [ExtendedCopy](https://github.com/oras-project/oras-go/blob/main/extendedcopy.go#L62), clients may want to filter predecessors of a node by their annotation. Specifically,

- Include predecessors whose annotation matches a given regex
- Exclude predecessors whose annotation matches a given regex

To support this, we can provide some utility methods that configure the [FindPredecessors](

[2022-06-27 07:17] shizhMSFT commented on #128
Related to #102

[2022-06-27 07:18] shizhMSFT commented on #120
@patrickzheng200 Could you help with this?

[2022-06-27 07:19] patrickzheng200 commented on #120
Taking a look.

[2022-06-27 07:20] Wwwsylvia commented on #29
-  Copy all references and graph of objects
    This is tracked by #53 and is done.
- Filter references through matching a given artifacType e.g. `artifactType=sbom/example`
    This is tracked by #201
- Support excluding references of a given artifact type
   This is tracked by #201
- Support filter through matching annotation
   This is tracked by #203
- support excluding artifacts with specifie

[2022-06-27 07:23] shizhMSFT opened #204 "Implement client feature for Discovery API"
Support getting the details of the supported oras extension from the extension API.

Spec: https://github.com/oras-project/artifacts-spec/blob/main/manifest-referrers-api.md#api-discovery

[2022-06-27 07:26] shizhMSFT commented on #204
@m5i-work Could you take a look?

[2022-06-27 07:32] shizhMSFT opened #205 "Validate with client side sorting"

[2022-06-27 07:36] shizhMSFT commented on #29
Closing as tracked by #201 and #203

[2022-06-27 07:40] shizhMSFT commented on #196
@patrickzheng200 Could you prioritize this item?

[2022-06-27 07:40] patrickzheng200 commented on #196
Taking a look.

[2022-06-27 09:16] Wwwsylvia commented on #201
@wangxiaoxuan273 Could you help with this?

[2022-06-27 09:16] Wwwsylvia commented on #203
@wangxiaoxuan273 Could you help with this?

[2022-06-27 17:46] shizhMSFT opened #206 "Ensure optional subject"

[2022-06-28 02:12] shizhMSFT opened #207 "Ensure optional blobs in artifact manifest"

[2022-06-28 02:14] shizhMSFT opened #208 "Validate `created` annotation and test for invalid date formats as per spec."
Related to #175, #205

[2022-06-28 02:23] m5i-work opened #209 "Hooking up the discovery API in referrers implementation"
~~Use endpoints found in discovery API for referrers API endpoint.~~
Use discovery API to check existence of referrers endpoint.

Provide option for client to opt-in and for cache policy of discovery result.

[2022-06-28 02:55] shizhMSFT commented on #175
@binbin-li We need to update the `notation-go` implementation once this issue is addressed.

[2022-06-28 02:55] shizhMSFT commented on #205
@binbin-li We need to update the `notation-go` implementation once this issue is addressed.

[2022-06-28 03:00] Wwwsylvia opened #210 "Support platform selection on Copy"
When using [Copy](https://github.com/oras-project/oras-go/blob/main/copy.go#L84), clients may want to select a manifest of a specific platform from a Manifest List/Manifest Index that is resolved from a reference.

To support this, we can provide some utility methods that configure the [MapRoot](https://github.com/oras-project/oras-go/blob/main/copy.go#L54) option for clients.

[2022-06-28 07:13] Wwwsylvia commented on #102
This one might be useful - https://github.com/oras-project/oras-go/pull/182#discussion_r899787777

[2022-06-28 10:30] #199 closed

[2022-06-29 03:28] Wwwsylvia opened #213 "Allow skipping unnamed blobs when pushing to file store"
Currently, when an unnamed blob is pushed to a file store, it will be stored in a memory fallback storage by default (See https://github.com/oras-project/oras-go/blob/main/content/file/file.go#L213-L215).
However, in some cases, clients may not want such blobs to be stored at all, even in the memory.
We should provide an option in the [file store](https://github.com/oras-project/oras-go/blob/main/

[2022-06-29 03:45] #140 closed

[2022-06-29 06:01] #149 closed

[2022-06-29 08:46] wangxiaoxuan273 commented on #201
Sure. Please assign this to me.

[2022-06-29 08:46] wangxiaoxuan273 commented on #203
Sure. Please assign this to me.

[2022-06-30 03:22] Wwwsylvia opened #215 "Update README to include auth examples"
The [auth examples](https://pkg.go.dev/oras.land/oras-go/v2@main/registry/remote/auth#pkg-examples) should be included in the [README](https://github.com/oras-project/oras-go/blob/main/README.md?plain=1#L38)

[2022-06-30 03:39] #215 closed

[2022-06-30 05:55] Wwwsylvia opened #218 "Fix runnable examples"
The following runnable examples fail to run on the GoDoc website. We need to fix this as it may confuse users.

- [Registry interaction examples](https://pkg.go.dev/oras.land/oras-go/v2@main/registry#pkg-examples)
- [Repository interaction examples](https://pkg.go.dev/oras.land/oras-go/v2@main/registry/remote#pkg-examples)
- [Authentication examples](https://pkg.go.dev/oras.land/oras-go/v2@main/re

[2022-06-30 07:52] souleb commented on #147
@shizhMSFT I am interested in implementing the retry logic in the remote pkg. What is the process to propose a design?

[2022-06-30 08:12] souleb commented on #78
I don't know if that is the intent, but opentelemetry does this (with httptrace), and we could support several sink format (prometheus, oltp).

[2022-06-30 11:41] FeynmanZhou commented on #147
@souleb Thanks for your interest! ORAS community is open to any kind of proposal and design. Now you can [create a discussion](https://github.com/oras-project/oras-go/discussions/categories/ideas) to add your proposal.

Going forward, we will create a separate folder to store the proposal docs and template. What do you think of it?

[2022-06-30 16:19] shizhMSFT opened #220 "`ORAS-Api-Version` is not checked for Referrer API"
See https://github.com/oras-project/artifacts-spec/blob/v1.0.0-rc.1/manifest-referrers-api.md#versioning

[2022-07-01 03:34] Wwwsylvia opened #221 "Update artifact-spec dependency version to `v1.0.0-rc.1`"

[2022-07-01 05:34] #196 closed

[2022-07-01 06:22] Wwwsylvia commented on #221
Closed by #222

[2022-07-01 06:22] #221 closed

[2022-07-04 08:32] wangxiaoxuan273 commented on #178
Upload ORAS Artifact manifest: pr #172

[2022-07-04 08:33] wangxiaoxuan273 commented on #178
Download ORAS Artifact manifest: pr #173

[2022-07-04 13:35] johankees opened #224 "oras pull error: empty response Docker-Content-Digest"
Pulling a container from **AWS ECR** fails with error `empty response Docker-Content-Digest`.

Steps to reproduce:
* login as per https://oras.land/implementors/#amazon-elastic-container-registry-ecr
* `oras pull ${ACCOUNT_ID}.dkr.ecr.${AWS_REGION}.amazonaws.com/${IMAGE}:${TAG}`

Expected result:
* Image pulled successfully, and response:
[code]

Actual result:
* Image failed to be pulled:
[code]

[2022-07-04 13:38] johankees opened #225 "oras pull error: empty response Docker-Content-Digest"
Pulling a container from **AWS ECR** fails with error `empty response Docker-Content-Digest`.

Steps to reproduce:
* login as per https://oras.land/implementors/#amazon-elastic-container-registry-ecr
* `oras pull ${ACCOUNT_ID}.dkr.ecr.${AWS_REGION}.amazonaws.com/${IMAGE}:${TAG}`

Expected result:
* Image pulled successfully, and response:
[code]

Actual result:
* Image failed to be pulled:
[code]

[2022-07-04 13:39] #224 closed, assigned to nobody

[2022-07-05 02:50] lizMSFT commented on #210
assigned

[2022-07-05 03:05] shizhMSFT commented on #203
Scenario: https://github.com/oras-project/oras/issues/307

[2022-07-05 03:05] shizhMSFT commented on #201
Scenario: https://github.com/oras-project/oras/issues/307

[2022-07-05 13:36] #204 closed

[2022-07-05 16:38] michaelb990 commented on #225
Hmm... A client failure based on a registry not returning a header that SHOULD be present seems like a client issue, not a registry issue.

We can still look into fixing this on the registry side, but I'm curious why this is a required header for the ORAS client. Do you know why this changed in `v0.13.0`?

[2022-07-05 16:50] shizhMSFT commented on #225
Before `v0.13.0`, `oras` CLI is based on `oras-go` v0.1.0, which is further based on `containerd`, and it seems `containerd` does not check the `Docker-Content-Digest` header. In `v0.13.0`, `oras` CLI is based on `oras-go` v2, which is purely implemented according to the Docker and OCI specs.

Since it is a "MUST" in the docker spec and a "SHOULD" in the OCI spec, `oras-go` MAY handle empty `Docke

[2022-07-06 10:58] #175 closed

[2022-07-06 10:58] #202 closed

[2022-07-06 10:59] shizhMSFT commented on #220
Resolved by #227

[2022-07-06 10:59] #220 closed

[2022-07-06 13:47] Wwwsylvia commented on #206
Closing as confirmed that subject can be null. (See https://github.com/oras-project/oras-go/blob/main/pack.go#L174 and https://github.com/oras-project/oras-go/blob/main/content/graph.go#L82-L84)

[2022-07-06 13:52] Wwwsylvia commented on #207
Closing as confirmed that blobs can be null. (See https://github.com/oras-project/oras-go/blob/main/pack.go#L166-L168 and https://github.com/oras-project/oras-go/blob/main/content/graph.go#L85-L87)

[2022-07-06 13:52] #207 closed

[2022-07-06 15:24] SteveLasker commented on #175
Woot, woot. Chipping away at the details.

[2022-07-07 00:38] shizhMSFT opened #228 "Issue Template for Exporting internal packages"
We need an issue template and criteria for exporting a certain internal package. Later, we can discuss the pros and cons on exporting the internal package.

[2022-07-07 01:25] vsoch commented on #228
If others want to help with a small list, I'd be happy to take a first shot! What I can remember from the meeting:

- Community discussion on a reliable, stable interface (rationale because exported API needs to be stable)
- Not "hacky"
- Clear user case for having it exported
- ... (I forget the rest!)

[2022-07-07 06:12] #120 closed

[2022-07-07 07:36] #208 closed

[2022-07-07 07:37] shizhMSFT commented on #200
Closing as all tasks are resolved.

[2022-07-07 07:37] #200 closed

[2022-07-07 17:19] shizhMSFT opened #233 "Migrate to codecov.io"
We are currently use `go test` to generate coverage report and those reports are uploaded as GitHub artifacts. However, we don't have a method to compare coverage report from commit to commit, or even view the report easily.

I propose that we should migrate our coverage report generation to [codecov.io](https://about.codecov.io/) similar to https://github.com/veraison/go-cose/pull/84. By doing so

[2022-07-08 02:44] FeynmanZhou commented on #233
Support. Codecov is useful to generate the test coverage report in each Pull Request.

[2022-07-08 07:44] wangxiaoxuan273 commented on #178
Download blob of ORAS Artifact manifest: pr #234

[2022-07-08 08:44] Wwwsylvia commented on #233
Looks nice!

[2022-07-08 09:41] CharingJC commented on #233
ack

[2022-07-08 19:08] nima commented on #225
Okay I have a repro, and will look into this today/weekend.

Side-questions: any discussions (or existence) of black-box/smoke-testing that would have caught something like this?  Even something very basic; single command to test out various common and valid critical permutations of commands that should never fail.

[2022-07-11 03:33] qweeah opened #236 "Failed to download all the files in an artifact using oras.Copy()"
# Repro Steps
1. Prepare two files `foo` and `bar` with same content:
[code]
2. Pack and push an artifact with two files containing exact same content
[code]
3. Pull the pushed artifact to a local file store, only `foo` or `bar` will be pulled

# Root cause
When copying, oras-go will deduplicate blob uploading with `status.TryCommit`(related [code](https://github.com/oras-project/oras-go/blob/main

[2022-07-12 03:04] nima commented on #225
repro prior to the change:

[code]

Compiling the client against it...
[code]

Running the test again...
[code]

[2022-07-13 02:05] gfichtenholt commented on #196
I checked and the fix is working. Thank you very much

[2022-07-13 22:04] nima opened #238 "Error running `make test` -- `registry/remote/auth/challenge.go:103:19: undefined: strconv.QuotedPrefix`"
## Repro
To allow easy reproduction of this error, please use the following `makefile` (section 1); place it in a directory such as `/tmp/repro`, and run `make` (second section).

I do see a note that `note: module requires Go 1.17`, but I don't think that's the cause for this when on `1.18+`.

### `makefile`

[code]

### `make`
[code]

[2022-07-15 06:15] qweeah opened #239 "Bug: oras.Copy() may skip tagging if manifest blob already exists in the destination"
# Reproduce Step
oras CLI version: 0.13.0
1. Package an OCI artifact and push
`echo "test" > hi.txt && oras push $REG/$REPO hi.txt`
2. Repush the artifact
`oras push $REG/$REPO:tag hi.txt`
3. Push will be successful on client side but `tag` won't be created in the registry.

# Root Cause
If a manifest blob is found existed (https://github.com/oras-project/oras-go/blob/main/copy.go#L154-L163), the

[2022-07-16 02:01] nima commented on #225
I think I need some help with this; I've started a thread [here](https://cloud-native.slack.com/archives/CJ1KHJM5Z/p1657935407555609) describing my current approach and its shortcomings.

[2022-07-17 00:51] nima commented on #238
I am running this again now, not sure what has changed, but the repro no longer produces the issue.

[2022-07-17 00:51] #238 closed

[2022-07-17 00:51] nima commented on #238
[code]

[2022-07-18 04:33] wangxiaoxuan273 commented on #178
Copy ORAS Artifact manifest #241

[2022-07-18 21:32] Justin-W opened #242 "v1.2.0 is incompatible with docker v20.10.17"
There seems to be a mismatch between the oras-go v1.2.0 `go.mod` and some of the code.

- https://github.com/oras-project/oras-go/blob/v1.2.0/go.mod#L10
  * This requires `github.com/docker/docker v20.10.17+incompatible`
- https://github.com/oras-project/oras-go/blob/v1.2.0/pkg/auth/docker/login_tls.go#L181
  * this line actually uses the `func PingV2Registry` signature matching the [docker v22 AP

[2022-07-19 02:35] lizMSFT commented on #210
Thoughts on Support Platform Selection on Copy Func: https://github.com/oras-project/oras-go/discussions/235

[2022-07-20 10:26] #239 closed

[2022-07-21 05:26] qweeah opened #246 "Extend platform package"
After merging #244, oras-go will support specifying platform in the copy option. There are still some todos on extending the package, such as:
1) Making the package public so client can reuse the platform matching code(e.g. oras-project/oras#449
2) Extend the package with all OCI manifest related matching like media type or annotation. #148

_Originally posted by @qweeah in https://github.com/oras

[2022-07-22 11:46] Wwwsylvia commented on #236
One workaround is that, when a manifest is pushed to the file store, the file store checks if all the files (named blobs) specified in the manifest are present in the file store. If a file is missing, but another blob with the same digest exists, the file store can automatically generate the missing file using the existing content.
We can expose a flag option for this behavior. Users would need to

[2022-07-25 07:33] wangxiaoxuan273 commented on #178
Copy artifact and its referrers (i.e. ORAS Artifact manifests) #248

[2022-07-25 09:36] shizhMSFT commented on #242
Nice catch. /cc @souleb.

[2022-07-25 14:23] shizhMSFT opened #250 "Upgrade artifact-spec to rc.2"
See https://github.com/oras-project/artifacts-spec/releases/tag/v1.0.0-rc.2

[2022-07-25 15:27] shizhMSFT commented on #147
Discussed in #232

[2022-07-26 03:23] lizMSFT commented on #218
assigned

[2022-07-26 08:13] #250 closed

[2022-07-26 12:20] qweeah opened #252 "Pushing blobs to ECR will fail"
Related to https://github.com/oras-project/oras/issues/456

[2022-07-26 12:31] #252 closed

[2022-07-26 13:36] shizhMSFT commented on #246
Is there any reason to make the `platform` package public?

[2022-07-27 02:43] qweeah commented on #246
Yes, for fetching manifests, ORAS CLI can reuse platform.Match

[2022-07-27 03:45] #233 closed

[2022-07-27 08:34] wangxiaoxuan273 commented on #201
There are several things we need to clarify:
1. `ArtifactType` is only supported by `remote.repository` and `Referrers()`. `ExtendedCopyOptions` only works on OCIDescriptors which does not support `ArtifactType`. Given this fact, what should be the scope of this requirement? **Should the filtering only work on `remote.repository`?** And if so, where should we check the source type?

[2022-07-27 08:37] wangxiaoxuan273 commented on #201
2. Should we support both inclusion and exclusion?
3. Should we support regex?

@shizhMSFT

[2022-07-27 08:51] shizhMSFT commented on #201
It is clear if the Target implements `Referrers()`.

The question is how we can filter without referrer API for generic Targets. The solution is as simple as
1. Get the successors of a certain node
2. For each successor, check if it is an artifact manifest type. If so, read it and check its artifact type.

Yes. That's intersection.

Why not 😃

[2022-07-27 10:25] Wwwsylvia commented on #102
Based on the [discussion](#240), I will break down this issue into several sub-tasks and will send PRs separately.

- [ ] Utility method for getting content
- [ ] Utility method for putting content
- [ ] Utility method for specifying static credentials
- [ ] Utility methods for manipulating descriptors

[2022-08-02 02:44] shizhMSFT commented on #246
Closed as comments are outdated.

[2022-08-02 02:44] #246 closed

[2022-08-02 06:36] Wwwsylvia commented on #178
Closing as all sub-tasks are done.

[2022-08-02 06:36] #178 closed

[2022-08-02 11:32] shizhMSFT opened #260 "Upload empty blob when packing"
The current `Pack()` method packs a `{}` config blob for the target OCI manifest.

https://github.com/oras-project/oras-go/blob/6a09a65fcc0b96c3448e988c1727ed154c2388ea/pack.go#L82

When using OCI manifest as the medium of the artifact, the content of the config blob is unused. Therefore, it is better to have an empty blob instead of `{}`. That is,
[code]

[2022-08-03 07:23] shizhMSFT opened #261 "Shift Go Support Window to [1.18, 1.19]"
[Go 1.19](https://go.dev/blog/go1.19) is released with [release notes](https://go.dev/doc/go1.19)!

It is time to shift the window for go support to `[1.18, 1.19]` by updating

- `go. mod`
- GitHub Actions

Although we will set `1.18` as the minimum version of `oras-go`, it is still possible to compile `oras-go` with go 1.17.

[2022-08-03 07:25] shizhMSFT commented on #161
Closing as this issue is succeeded by #261

[2022-08-03 07:25] #161 closed

[2022-08-04 05:16] #236 closed

[2022-08-04 05:32] #218 closed

[2022-08-04 05:36] #213 closed

[2022-08-04 05:51] shizhMSFT commented on #260
@m5i-work Could you take this item?

[2022-08-05 01:19] #260 closed

[2022-08-08 07:13] #210 closed

[2022-08-08 08:08] shizhMSFT commented on #203
Resolved by #259

[2022-08-08 08:08] #203 closed

[2022-08-09 03:07] wangxiaoxuan273 commented on #261
Please assign this to me.

[2022-08-09 10:34] milosgajdos opened #264 "oras should be able to tag the same digest with different tags"
We've been experimenting with `oras` for a bit while and came across a rather _unexpected_ behaviour. Specifically, `oras` cli does not seem to be able to tag the same [manifest] `digest` with different tags.

**Example scenario:** I want to push some content to a registry and tag it with a tag. Then I want to tag the same content with a _different_ tag. The latter does not happen. My _suspicion_

[2022-08-10 10:29] shizhMSFT commented on #201
Resolved by #258

[2022-08-10 10:29] #201 closed

[2022-08-10 10:32] shizhMSFT opened #265 "`FilterAnnotation` in `ExtendedCopy` does not work as expected"
The `FilterAnnotation` in `ExtendedCopy` relies on the `Predecessor()`, which may be implemented by `Referrers()`. However, those APIs does not return annotations as expected and thus filter annotation will always fail.

[2022-08-10 10:32] shizhMSFT commented on #265
@wangxiaoxuan273 Could you take a look and catch the release train?

/cc @Wwwsylvia

[2022-08-10 10:58] wangxiaoxuan273 commented on #265
Sure. Will fix it tomorrow.

[2022-08-10 23:31] FeynmanZhou commented on #225
Please note that the oras-go [issue #255](https://github.com/oras-project/oras-go/issues/225) also caused the `Notation pull` works to fail with ECR. Can we prioritize it?

[2022-08-11 03:16] Wwwsylvia commented on #264
This issue should be opened on the [ORAS CLI repo](https://github.com/oras-project/oras/issues). /cc @qweeah
@milosgajdos Which `oras` CLI version are you using?

[2022-08-11 05:23] qweeah commented on #264
@milosgajdos
 This is a known issue (https://github.com/oras-project/oras/issues/447 and https://github.com/oras-project/oras-go/issues/239) for 0.13.0. It has been fixed in the main branch but we haven't released a new version(0.14.0) yet.

[2022-08-11 10:40] #265 closed

[2022-08-11 18:32] sajayantony opened #267 "Support OCI Artifacts and reference types"
As the reference type working group has submitted the PR to OCI, https://github.com/opencontainers/image-spec/pull/934 and https://github.com/opencontainers/distribution-spec/pull/335 ORAS needs to support the implementation of these media types and APIs

_This issue does not track the updates/changes to ORAS artifacts or API due to the above and should only focus on making sure that the ORAS proj

[2022-08-11 18:32] sajayantony opened #268 "Support OCI Artifacts and referrers API"
As the reference type working group has submitted the PR to OCI, https://github.com/opencontainers/image-spec/pull/934 and https://github.com/opencontainers/distribution-spec/pull/335 ORAS needs to support the implementation of these media types and APIs

This is dependent on - https://github.com/oras-project/oras-go/issues/267

_This issue does not track the issue for change/updates of ORAS artif

[2022-08-12 08:22] milosgajdos commented on #264
Thanks for the heads up @qweeah . Can we keep this open until we verify `0.14.0` fixes the problem when it's released.

[2022-08-15 08:33] ninjadq opened #269 "How to use token access acr without login in `v2.0.0`"
Hi team,

In our scenario, we leverage MSI to fetch the access token and use that token to push artifacts or images to ACR without login.

The code is like this in `v1.2.0`

[code]

But currently in `v2.0.0` there is no place to put username and password for registry.

Anyone knows how to handle this with `v2.0.0`

Thanks

[2022-08-15 08:40] FeynmanZhou commented on #269
I hope [this example](https://pkg.go.dev/oras.land/oras-go/v2@main/registry/remote/auth#Credential) can help you.

Hi @Wwwsylvia @wangxiaoxuan273 , could you pls help to take a look?

[2022-08-16 02:08] shizhMSFT commented on #269
@ninjadq Please refer [this example](https://pkg.go.dev/oras.land/oras-go/v2@main/registry/remote/auth#example-Client.Do-WithRefreshToken) to construct an `*auth.Client` where `RefreshToken` is set to the `token` obtained from MSI.

Later, you can do something like

[code]

[2022-08-16 02:21] wangxiaoxuan273 commented on #269
@ninjadq For registry, do something like this:
The Username and Password fields of auth.Credential can be replaced with AccessToken or RefreshToken fields, depending on the details of MSI credentials. Please refer to the [examples](https://pkg.go.dev/oras.land/oras-go/v2@main/registry/remote/auth#example-Client.Do-BasicAuth) of configuring the client.

[code]

[2022-08-16 02:33] ninjadq commented on #269
Thank you for your detailed explanation @wangxiaoxuan273 @shizhMSFT

[2022-08-16 02:33] #269 closed

[2022-08-17 04:37] #261 closed

[2022-08-17 10:08] shizhMSFT commented on #242
@jasminetMSFT Could you investigate this issue?

[2022-08-17 10:09] jasminetMSFT commented on #242
Sure, please assign this to me.

[2022-08-17 17:07] nima commented on #225
I've been away for a couple of weeks; taking a look at this now; will update here.

[2022-08-18 03:08] shizhMSFT opened #271 "Migrate to OCI Artifact from ORAS Artifact"
We will migrate to OCI Artifact from ORAS Artifact once the following PRs are merged.

- https://github.com/opencontainers/image-spec/pull/934
- https://github.com/opencontainers/distribution-spec/pull/335

Tasks:

- [x] #307
- [x] #308
- [x] #309
- [x] #310
- [x] #311
- [x] #312
- [x] #347

This issue covers #267 and #268.

[2022-08-18 05:22] jasminetMSFT commented on #242
@Justin-W In oras-go v1.2.0, https://github.com/oras-project/oras-go/blob/v1.2.0/pkg/auth/docker/login_tls.go#L181 `PingV2Registry` returns three parameters which matches `func PingV2Registry` in [docker v20 API](https://github.com/moby/moby/blob/v20.10.17/registry/auth.go#L203)
You could run `go get -u ./...` and it should work properly.

[2022-08-18 05:45] shizhMSFT commented on #242
Marking this issue as resolved as `oras-go` v1.2.0` is indeed using the docker v20 API as verified by @jasminetMSFT.

[2022-08-18 05:45] #242 closed

[2022-08-18 08:44] Wwwsylvia opened #272 "Utility method for getting content"
Sub-task of #102

[2022-08-18 08:46] Wwwsylvia opened #273 "Utility method for putting content"
Sub-task of #102

[2022-08-18 08:48] Wwwsylvia opened #274 "Utility method for specifying static credentials"
Sub-task of #102

[2022-08-18 08:49] Wwwsylvia opened #275 "Utility methods for manipulating descriptors"
Sub-task of #102

[2022-08-23 02:02] shizhMSFT commented on #78
Closing as log trace can be done at the invoker side using the tool at their choices.

[2022-08-23 02:02] #78 closed

[2022-08-23 02:26] shizhMSFT commented on #209
Closing as we are moving to OCI Artifact.

[2022-08-23 02:26] #209 closed

[2022-08-23 03:46] wangxiaoxuan273 commented on #274
Please assign this to me

[2022-08-23 03:46] wangxiaoxuan273 commented on #275
Please assign this to me

[2022-08-23 07:28] shizhMSFT commented on #22
@luisdavim I'm closing this issue as this issue is in an inactive state for a long time. Meanwhile, `oras-go` has evolved into `v2` and maybe you can try again with v2 APIs.

Additionally, I think there is a concept misunderstanding. The `annotations` field of the manifest descriptor is not the same as the `annotations` field of the manifest itself. The `annotations` field of the manifest will not

[2022-08-23 07:28] #22 closed

[2022-08-23 08:30] FeynmanZhou opened #278 "Vote for release of ORAS-go v1.2.1"
Hi team @oras-project/oras-go-maintainers ,

Considering [ORAS-go v2](https://github.com/oras-project/oras-go#v2-experimental) is still experimental, ORAS-go v1 is stable and will be maintained by the ORAS community until ORAS v2 GA. Currently, ORAS-go v1 is not under active development, thus the ORAS community might only cut new releases to include necessary bug fixes.

There were two PRs merged

[2022-08-25 06:30] #225 closed

[2022-08-26 00:03] sajayantony commented on #271
Should we start a new branch for OCI now that you have go structs for OCI. Similarly, for oras - CLI?

[2022-08-30 15:35] shizhMSFT opened #284 "Reviewing `Repository` Interface"
`Repository.Manifest()` should return a `ManifestStore` instead of `BlobStore`.

https://github.com/oras-project/oras-go/blob/2946dfcef0845c9cdf1b0872fe563d99d2c9beac/registry/repository.go#L47

[2022-08-31 12:24] FeynmanZhou commented on #228
I can list these questions:
- Which package
- Pros and cons
- Considerations
- Clear use case

[2022-08-31 12:29] shizhMSFT commented on #136
There are also problems with repository levels, such as
- Catalog list
- Blob mount across repositories

[2022-08-31 12:35] FeynmanZhou commented on #136
It looks like a multi-tenancy scenario. It depends on whether the ORAS has the fine-grained authentication requirement. Maybe we can remain this issue open and wait for more feedback.

cc @SteveLasker @sajayantony

[2022-08-31 12:47] FeynmanZhou commented on #4
I think we can add the website domain name as an option in annotations, then we have two options:
- `cncf.oras`
- `land.oras`

How about we vote one and then provide a backward compact solution? @SteveLasker @bacongobbler @shizhMSFT @sajayantony @yizha1

[2022-08-31 18:00] rdpsin commented on #271
Any update on this work?

[2022-09-01 02:42] Wwwsylvia commented on #271
@rdpsin We will be working on this after releasing `oras-go` `v2.0.0-rc3`, which is scheduled for Sep. 5th.

[2022-09-01 07:19] Wwwsylvia opened #287 "Tag methods support multi-tagging"
Tag methods like [`oras.Tag`](https://github.com/oras-project/oras-go/blob/main/content.go#L30) and [`TagReference`](https://github.com/oras-project/oras-go/blob/2946dfcef0845c9cdf1b0872fe563d99d2c9beac/registry/repository.go#L90) should support multi-tagging.

[2022-09-01 08:49] #275 closed

[2022-09-01 09:01] #285 closed

[2022-09-01 10:44] Wwwsylvia opened #289 "The default `Concurrency` limit should not be infinity"
Currently, when [`Concurrency`](https://github.com/oras-project/oras-go/blob/main/copy.go#L79-L82) is not specified, its value will be considered as infinity. However, this can be insecure. We should use a default value instead of infinity.

[2022-09-01 11:33] Wwwsylvia opened #290 "Wrap `errdef.ErrNotFound` with richer error message in order to distinguish platform not found and manifest not found"
Can we wrap `errdef.ErrNotFound` with richer error message in order to distinguish platform not found and manifest not found?

_Originally posted by @shizhMSFT in https://github.com/oras-project/oras-go/pull/282#discussion_r960337039_

[2022-09-01 11:37] #272 closed

[2022-09-01 11:47] Wwwsylvia opened #291 "`oras.Resolve` and `oras.Copy` should have a `MaxMetadataBytes` option"
Since `oras.Resolve` and `oras.Copy` may cache content, they should have a `MaxMetadataBytes` option so that the memory won't be blew up.

[2022-09-01 11:51] shizhMSFT commented on #290
@lizMSFT Could you follow up this one?

[2022-09-01 12:17] #274 closed

[2022-09-01 14:39] lizMSFT commented on #290
No problem, I will take care of this issue.

[2022-09-02 02:14] #290 closed

[2022-09-02 09:19] wju-MSFT commented on #287
This could eventually solve [multi-tagging](https://github.com/oras-project/oras/issues/355) issue in Oras-Cli.

[2022-09-02 12:05] #273 closed

[2022-09-02 12:06] Wwwsylvia commented on #102
Closing as all sub-tasks are done.

[2022-09-02 12:06] #102 closed

[2022-09-02 14:40] shizhMSFT commented on #284
The `Manifests()` should return a `ManifestStore` in order to fit `TagBytes` and `TagBytesN` for arbitrary manifest media type from user input via oras CLI.

[2022-09-02 15:08] shizhMSFT commented on #287
We may want to deprecate `ReferenceTagger` and `TagReference`.

[2022-09-05 01:32] qweeah opened #294 "GAR (Google Artifact Registry) won't accept empty blob"
When packing a OCI image manifest, if the config descriptor is not not provided in the packing option, then oras-go will use a default blob. (see https://github.com/oras-project/oras-go/issues/260)

GAR will return 400 for empty blob and causing push failure, see https://github.com/oras-project/oras/issues/532.

[2022-09-05 06:21] #294 closed

[2022-09-05 08:26] #289 closed

[2022-09-05 10:38] Wwwsylvia opened #298 "Bug: Failing to push to the cache of `internal.Proxy` will result in a deadlock"
When using [`internal.Proxy`](https://github.com/oras-project/oras-go/blob/main/internal/cas/proxy.go#L32), we fetch data from the base storage while pushing it to the cache storage.
If any errors occur when pushing to the cache storage, there will be a deadlock. This is because the [pipe ](https://github.com/oras-project/oras-go/blob/main/internal/cas/proxy.go#L62)is not properly closed when ther

[2022-09-05 14:38] #291 closed

[2022-09-05 14:38] #298 closed

[2022-09-06 09:14] #284 closed

[2022-09-07 10:15] Wwwsylvia opened #302 "Refactor `remote.TestRepositoryInterface`"
`remote.TestRepositoryInterface` should test interface `oras.GraphTarget`.
https://github.com/oras-project/oras-go/blob/d9a8f8245088a920e910f27c0fb4046ac53b84f8/registry/remote/repository_test.go#L121-L129
To avoid cyclic import, we will need to move this to a separate package, such as `remote_test`.

[2022-09-07 10:20] Wwwsylvia opened #303 "Review `registry.ParseReference` function"
There might be some invalid forms that `registry.ParseReference` does not validate. We need to review this function and test it against more test cases.
https://github.com/oras-project/oras-go/blob/d9a8f8245088a920e910f27c0fb4046ac53b84f8/registry/reference.go#L93-L130

[2022-09-07 10:32] Wwwsylvia opened #304 "Improve godoc"
Make godoc easier to read.
e.g. https://pkg.go.dev/oras.land/oras-go/v2@main#pkg-variables

[2022-09-08 02:55] Wwwsylvia commented on #302
@wangxiaoxuan273 Could you help to take a look?

[2022-09-08 05:53] wangxiaoxuan273 commented on #302
Sure.

[2022-09-08 11:09] Wwwsylvia opened #306 "Utility method for verifying content from reader"
When reading from the `io.ReadCloser` returned by `Fetch()` functions, it's recommended to verify the read content against the descriptor.
`oras-go` should provide a convenient utility method for verifying the content read from reader.

[2022-09-08 14:37] nima commented on #303
I'll take this; please assign to me 🍉

[2022-09-09 03:21] shizhMSFT commented on #303
One instance found by @lizMSFT is
[code]

Definitely, it is invalid. However, `ParseReference` returns no error.

[2022-09-09 06:44] wangxiaoxuan273 commented on #302
As per discussion, we also need to test `ReferenceParser` interface for `Repository` struct and `ManifestStore` struct.

[2022-09-09 07:56] shizhMSFT opened #307 "Migrate `artifactspec.Descriptor` to `ocispec.Descriptor`"

[2022-09-09 07:56] shizhMSFT opened #308 "Add support for OCI Artifact manifest"

[2022-09-09 07:56] shizhMSFT opened #309 "Merge `oras.PackArtifact()` into `oras.Pack()`"

[2022-09-09 07:56] shizhMSFT opened #310 "Improve performance of filters of `oras.ExtendedCopy()` caused by information loss due to descriptor conversions"

[2022-09-09 07:56] shizhMSFT opened #311 "Update implementation of `Referers` API"

[2022-09-09 07:56] shizhMSFT opened #312 "Add client-side compatibility for pushing manifest with `subject` field"

[2022-09-13 07:27] shizhMSFT commented on #306
@wangxiaoxuan273 Could you help with this issue?

[2022-09-13 07:27] wangxiaoxuan273 commented on #306
Sure. Please assign this to me.

[2022-09-13 08:22] #302 closed

[2022-09-13 18:08] SteveLasker commented on #271
Just a clarification that we'll need to maintain support for ORAS artifacts, until all registries have migrated to the OCI Artifact spec.
1. Check if `/referrers` is supported (best future case)
2. Check if `_oras/referrers` is supported (limited time, as ACR, ECR and Zot migrate to `/referrers`)
3. Fallback to using OCI Image manifest, with a `refers/subject` property (see [Rename refers field to

[2022-09-13 18:09] SteveLasker commented on #312
see [Rename refers field to subject #950](https://github.com/opencontainers/image-spec/pull/950)

[2022-09-14 05:43] shizhMSFT opened #314 "Add License Header Checker"
A license checker should be added to `oras-go` as well.

Related: https://github.com/oras-project/oras/issues/435

[2022-09-14 05:43] shizhMSFT commented on #314
@jasminetMSFT Could you help on this?

[2022-09-14 05:48] jasminetMSFT commented on #314
No problem, I will work on it.

[2022-09-14 09:08] #314 closed

[2022-09-15 02:20] shizhMSFT opened #317 "Return `errdef.ErrUnsupported` on `Delete()` if remote repository does not support delete"
When the remote does not support delete or has delete disabled, it will return `405 not supported`.
[code]

We should return `errdef.ErrUnsupported` as a known error.

Original discussion: https://github.com/oras-project/oras/pull/493#issuecomment-1244930279

[2022-09-16 06:42] Wwwsylvia opened #318 "Missing `nil` checks"
For functions that take a pointer parameter, we should check if the parameter is a `nil`. If so, return early or throw an error, depending on the scenario.

For instance,

- [oras.WithTargetPlatform](https://github.com/oras-project/oras-go/blob/main/copy.go#L66)
- [oras.FilterAnnotation](https://github.com/oras-project/oras-go/blob/main/extendedcopy.go#L183)
- [oras.FilterArtifactType](https://git

[2022-09-16 14:41] qweeah opened #319 "feat: improve the error message if non-distributable(foreign) layer is not supported"
Some artifacts(e.g., Windows base images) contain layers whose distribution is restricted by license. When these images are pushed to a registry, restricted artifacts are not included.

For now, `oras.Copy` and `oras.Fetch` will fail if the target artifact contains an non-distributable(foreign) layer since the layer blob doesn't exist in the remote registry. We should
1) By default skip blob copyi

[2022-09-16 18:49] nima commented on #303
In the current state of the code, the string `` is resolved into its 3 components in the following way:

- reg: `localhost:5000`
- rep: `hello`
- ref: `sha256:e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855`

Meanwhile, I'll ask a related side-question: is it possible to declare form `B` "Invalid"?  It's ambiguous at best and seems unnecessary to support.

For reference:
[code]

[2022-09-19 06:05] shizhMSFT commented on #318
@jasminetMSFT Could you help on this?

[2022-09-19 06:11] jasminetMSFT commented on #318
Sure, I will work on it.

[2022-09-19 06:39] shizhMSFT commented on #271
The initial iteration will not have the fallback to ORAS Artifact referrers. The fallback will be added in the second iteration after proper discussions.

[2022-09-19 06:44] yuehaoliang-microsoft commented on #317
I'm aware of the context of this issue, and will handle it.

[2022-09-19 06:46] shizhMSFT commented on #317
Many thanks on helping this. The code change is expected only in the file `registry/remote/repository.go`.

Please also follow up the related change in oras CLI.

[2022-09-19 07:32] yuehaoliang-microsoft commented on #317
For my test case:

Before any change:
`Error: failed to delete localhost:12900/hello:v1: DELETE "http://localhost:12900/v2/hello/manifests/sha256:2e0e0fe1fb3edbcdddad941c90d2b51e25a6bcd593e82545441a216de7bfa834": unexpected status code 405: unsupported: The operation is unsupported.`

After I changed to use `errdef.ErrUnsupported` when `resp.StatusCode == 405`:
`Error: failed to delete localhost:1

[2022-09-19 07:44] yuehaoliang-microsoft commented on #317
Maybe simplify it to be:
`Error: failed to delete localhost:12900/hello:v1: unsupported`
Or make it more informative, like:
`Error: failed to delete localhost:12900/hello:v1: unsupported: the remote server does not enable deletion`

[2022-09-19 07:54] shizhMSFT commented on #317
Looks good to me. CLI can have more verbose error message after checking `errors.Is()`.

[2022-09-19 09:42] yuehaoliang-microsoft commented on #317
Proposed an idea for error message in ORAS CLI.

I locally override oras-go in oras `replace oras.land/oras-go/v2 => /home/yuehaoliang/oras-go` and tested this change.
<img width="652" alt="image" src="https://user-images.githubusercontent.com/109199020/190990983-f7355fa5-6da3-452c-8504-c6415b061fc6.png">
<img width="852" alt="image" src="https://user-images.githubusercontent.com/109199020/1909910

[2022-09-19 10:20] shizhMSFT opened #323 "Return `errdef.ErrUnsupported` on `Push()` if remote repository does not support push"
According to [Docker Registry HTTP API V2](https://docs.docker.com/registry/spec/api/), manifest push or blob push may fail with `405 Method Not Allowed` error because the registry is configured as a pull-through cache or for some other reason.

Related #317

[2022-09-19 10:21] shizhMSFT commented on #323
@yuehaoliang-microsoft Could you also help resolving this issue?

[2022-09-19 11:04] shizhMSFT commented on #317
Server returning `405 Method Not Allowed` does imply that such operation is unsupported.

For instance, ACR has a feature named [Lock a container image in an Azure container registry](https://learn.microsoft.com/azure/container-registry/container-registry-image-lock), which allows to disable delete and other operations. In such a case, the output looks like
[code]

[2022-09-19 11:04] #317 closed

[2022-09-19 21:18] nima commented on #303
Anything else you can think of that we're missing from our tests @shizhMSFT? This turned out to be a somewhat unique special-case where the string is first allowed "in" by virtue of being deemed a *tag*, and later passes verification as a *digest*.

[2022-09-20 03:11] shizhMSFT commented on #303
How do we deal with something like

[code]
?

[2022-09-21 02:29] #306 closed

[2022-09-22 09:20] #318 closed

[2022-09-23 01:45] shizhMSFT opened #332 "Revisit the documentation of `registry.Reference`"
The documentation of `registry.Reference` mismatched its actual functionality. That is, reference not only reference a resource of descriptor but also reference a resource of repository where the `Reference` is an empty string.

[2022-09-23 03:55] nima commented on #332
Please assign to me and I'll fix.

[2022-09-23 09:43] lbjarre opened #333 "`Transfer-Encoding: chunked` responses fail"
Hello,

I have been working on a project using the oras client (v2) against a repository hosted on ECR. We are storing an artifact with quite a lot of individual items (431 layers on the final manifest), which seems to cause ECR to chunk the response:

[code]

The library currently explicitly checks for `net/http.Response.ContentLength` when validating the response, which is for these cases `-1` a

[2022-09-23 16:25] sajayantony commented on #267
Both PRs are not merged and OCI has an release candidate.
Oras should be able to consume the specification and fully unblocked -

https://github.com/opencontainers/image-spec/tree/v1.1.0-rc1
https://github.com/opencontainers/distribution-spec/tree/v1.1.0-rc1

[2022-09-27 12:40] shizhMSFT commented on #333
@nima Could you take a look since it is an ECR issue?

[2022-09-27 17:26] nima commented on #333
Yes I can take a look at this; please assign it to me.

[2022-09-28 00:42] sajayantony commented on #271
Oras needs to consume RC2 since it includes the subject field - https://github.com/opencontainers/image-spec/pull/958

[2022-09-28 01:49] michaelb990 commented on #271
What fallback are we talking about here? From what I read, it seemed like falling back to ORAS Artifacts wouldn't be compatible with the tag-based fallback already proposed in the OCI distribution-spec, now an RC.

[2022-09-28 03:02] sajayantony commented on #271
On the call today we discussed that the fall back to ORAS is not going to be supported. This issues needs to be updated to reflect that and the next update to the libraries will remove the ORAS artifact types and move to OCI with OCI image fallback.

[2022-09-28 10:28] #307 closed

[2022-09-28 10:28] #308 closed

[2022-09-28 14:51] shizhMSFT opened #336 "refactor `content/oci` with `fs.FS`"
Refactor the `content/oci` package so that it is based on [io/fs.FS](https://pkg.go.dev/io/fs#FS).

With such refactoring, we can have something like
[code]

Powered by `fs.FS`, we can further leverage [embed.FS](https://pkg.go.dev/embed#FS) and [zip.Reader](https://pkg.go.dev/archive/zip#Reader) to read OCI layout from various file systems.

If we implement `fs.FS` for tarballs, we can directly r

[2022-09-29 03:29] shizhMSFT opened #337 "Support `blob mount` across repositories"
See [Cross Repository Blob Mount](https://docs.docker.com/registry/spec/api/#:~:text=Cross%20Repository%20Blob%20Mount) from Docker Registry HTTP API V2.

[2022-09-30 03:28] #303 closed

[2022-09-30 04:19] #310 closed

[2022-09-30 15:15] shizhMSFT opened #338 "Allow chunked blob push"
The current implementation of `content/oci` and `registry/remote` only supports monolithic blob upload where the `descriptor` must be known in advance.

If we want to support chunked blob push, we should have the implementations to implement a new interface like
[code]

This issue is to track the discussion on whether we should support chunked blob push with security considerations.
- Since the di

[2022-10-06 02:18] nima commented on #333
I've started working on this as of today and will post some updates in the coming week.

[2022-10-08 15:52] shizhMSFT commented on #336
@Wwwsylvia You might be benefited from [indexing a tarball for random access](https://gist.github.com/shizhMSFT/a933a8f6aa7ff5f5702be2f43fd1518d).

[2022-10-09 14:00] yuvalturg opened #341 "Push/Pull file example"
Hi,

Is there an example for a simple push-pull of a single, large (can't load it's entire content to memory) file to a repository?

Thanks!

[2022-10-11 09:16] Wwwsylvia commented on #341
Hi @yuvalturg, can you elaborate your scenario a little bit?
- Do you want to push/pull the file as a single blob?
- Do you want to have a manifest to reference this blob (file)?

Basically, how do you want to access this file after you pushing it to a repository?

[2022-10-11 09:29] Wwwsylvia opened #342 "OCI store should support discovering predecessors that are not tagged"
Currently, when restoring from an existing OCI layout, the OCI store will index the predecessor relationships for all the manifests in `index.json`, which are tagged manifests.
However, the predecessors of manifests are usually not tagged and are not present in `index.json`.
As a result, these predecessors will not be indexed, and they cannot be discovered by the `Predecessors()` function of the O

[2022-10-11 09:43] shizhMSFT commented on #342
We can apply tag schema in the distribution-spec to OCI layout.

[2022-10-11 15:19] yuvalturg commented on #341
Yes a single layer is fine. Similar to what is described here https://oras.land/cli/1_pushing/

Oras push repo:tag /tmp/bigfile

[2022-10-13 01:56] shizhMSFT commented on #341
@Wwwsylvia Could you write an example for @yuvalturg. Besides, we probably need `content.NewDescriptorFromReader()` to simplify the experience.

[2022-10-13 06:19] yuvalturg commented on #341
Thanks, I used oras-py, and it's as simple as
OrasClient().push(target, filenames)

[2022-10-13 10:09] Wwwsylvia commented on #341
@yuvalturg OK you will need a manifest to reference your file blob if you want to access it via a tag.
Can you check if this helps? https://github.com/Wwwsylvia/demo-push-file/blob/main/main/main.go
Please let us know if you find any bugs or any bad user experiences.

[2022-10-13 10:10] Wwwsylvia commented on #341
Not really, I think a file store is needed anyway in this case 🤔

[2022-10-13 13:43] jdolitsky commented on #278
LGTM

[2022-10-13 14:40] SteveLasker commented on #278
LGTM

[2022-10-13 14:55] shizhMSFT commented on #278
LGTM

[2022-10-16 05:55] nima commented on #333
Testing suit is complete.  Working on a repro now.  The most number of layers I was able to create via a `Dockerfile` was ~128; beyond that it hits a limit.

[code]

This unfortunately doesn't reproduce the issue...

[code]

Comparing this to a basic image though, the headers returned have changed which I don't have an explanation for.

[code]

[2022-10-16 08:01] yuvalturg commented on #333
I'm hitting the same issue on ECR - this is what I get from curl:
[code]

[2022-10-16 09:53] lbjarre commented on #333
fyi we did not create the artifact via Dockerfiles, we used the oras SDK directly.

[2022-10-16 10:03] yuvalturg commented on #341
@Wwwsylvia is there a way to get the local filename(s) from the filestore after pulling?

[2022-10-16 17:26] nima commented on #333
Re the imposed layer limit of 127: https://github.com/docker/docs/issues/8230#issuecomment-468630187

@lbjarre do you have a quick recipe to generate the artifact via the oras SDK that I can use?

[2022-10-17 03:01] Wwwsylvia commented on #341
@yuvalturg Regarding "get the local filename(s) from the filestore", my understanding is that you want to check the filenames associated with the pulled tag? Does the below code work for you?

[code]

[2022-10-17 08:36] #311 closed

[2022-10-17 13:44] yuvalturg commented on #341
This works perfectly, thanks!

[2022-10-18 11:16] #309 closed

[2022-10-18 11:50] Wwwsylvia opened #344 "How to distinguish "unsupported manifest" error from other `400 Bad Request` errors on manifest push?"
Remote registries return `400 Bad Request` error on manifest push when:
1. The pushed manifest is malformed
2. The layers referenced by the manifest do not exist
3. The registry does not support the media type of the pushed manifest

Currently, `oras-go` is unable to distinguish case 3 from case 1 and 2 on manifest push.
This blocks the below scenario:

1. A client builds an artifact manifest and

[2022-10-18 12:02] Wwwsylvia opened #345 "Revisit `file.PackFiles()`"
`file.PackFiles()` allows users to add files and pack a manifest quickly. But the current design might not be perfect.
We should revisit it and think about if we should keep/refactor/deprecate it in `oras-go v2.0.0`.

https://github.com/oras-project/oras-go/blob/1969551cc3c77b46f09090f00360e8465871fe8f/content/file/file.go#L429-L443

[2022-10-18 12:03] Wwwsylvia commented on #345
One use case of this function can be found [here](https://github.com/oras-project/oras-go/issues/341).

[2022-10-18 12:09] Wwwsylvia commented on #341
Hello @yuvalturg, do you have any feedbacks on the user experiences of `oras-go`?
For instance, do you think `file.PackFiles()` is useful? We are revisiting this function and are considering whether to keep/refactor/deprecate in the future versions.

[2022-10-20 05:17] nima commented on #333
Thanks @lbjarre; I've adapted this for our environment.  I've set the number of layers to 400, and here are the results...

[code]

With the 400-layer manifest pushed, now trying the repro...
[code]

That is, I'm still unable to reproduce what you've reported here.  Anything else you can think of that I might be missing?

[2022-10-20 18:23] nima commented on #333
Trying this again with the said 431 layers, in case that's the tipping point.  I tried 500 but that was rejected for exceeding the maximum allowed.

[2022-10-20 18:36] yuvalturg commented on #333
It reproduces for me with a large (4.5 gigs) and not so many layers @nima

[2022-10-20 21:47] nima commented on #333
I guess I'm a bit confused on how the manifest would turn to chunked, when the data that it references (and not it) increases in size.  In your repro @yuvalturg, do you know if you're not getting chunked when the layers are tiny

[2022-10-21 03:30] Wwwsylvia opened #346 "Deprecate the default artifact type `application/vnd.unknown.artifact.v1`"
As per the latest [update ](https://github.com/opencontainers/image-spec/pull/967)on the image-spec, the `artifactType` field will be omitted if empty.
Hence, after the change is released, we can deprecate the default artifact type `application/vnd.unknown.artifact.v1` and just leave the user-provided `artifactType` as it is.
https://github.com/oras-project/oras-go/blob/1969551cc3c77b46f09090f0036

[2022-10-21 10:01] Wwwsylvia opened #347 "Add client-side compatibility for deleting manifest with `subject` field"

[2022-10-22 01:44] nima commented on #333
Hmmm, seems like it does make a difference.

Here's a 4-layer, 32B/layer image...
[code]

Here's a 43-layer, 1KiB/layer image...
[code]

Note how the `Content-Length` drops off, and in comes the `Transfer-Encoding: chunked`.

As an aside, the reason that the previous repro above did not work, is that [`HTTP/2` does not support HTTP 1.1's chunked transfer encoding](https://developer.mozilla.org/en-

[2022-10-22 02:40] nima commented on #333
@VishrutPatel's fix addresses the issue.

Using the same two tests from before the fix next.  This first one, `l4s32`, we expect no change:
[code]

But using `l43s1024` we do expect a change; the reappearance of `Content-Length`, and the consequent disappearance of `Transfer-Encoding`:
[code]

The [FIY explanation](https://cs.opensource.google/go/go/+/refs/tags/go1.19.2:src/net/http/server.go;l=12

[2022-10-25 00:36] nima commented on #333
Testing of the fix is in-progress, no issues so far.  This should be resolved by mid-week, and then deployed worldwide.

[2022-10-27 07:44] Wwwsylvia opened #349 "Bug: Potential dead lock in `oras.Copy`"
Assuming there is a DAG, where multiple nodes reference the same node, as shown in the chart below.

[code]

When copying such DAGs from a Target to another, there is a chance that `oras.Copy()` will encounter dead lock and never finish.
Repro: https://github.com/Wwwsylvia/oras-go/blob/repro_copy_deadlock/repro_test.go

[2022-10-27 08:00] #312 closed

[2022-10-27 08:02] qweeah commented on #336
Why the example has a docker layout file `manifest.json`?

[2022-10-28 02:52] #347 closed

[2022-10-28 12:29] #344 closed

[2022-10-28 13:01] shizhMSFT commented on #346
Although `artifactType` can be omitted if empty, it is still marked as `SHOULD`. Therefore, it is better to have a value in it. I'd suggest close this issue.

[2022-10-31 02:21] Wwwsylvia commented on #346
Closing as not needed.

[2022-10-31 02:21] #346 closed

[2022-10-31 03:07] shizhMSFT opened #354 "Improve the Performance of Referrers Tag Schema"
The current implementation of fallback tag scheme of the referrers API is workable but inefficient. Each time pushing a manifest with a subject requires updating the index. We can improve the performance by combining the index updates into a single operation, using the same concurrency model as demonstrated in [shizhMSFT/quay](https://github.com/shizhMSFT/quay).

In addition, we can further improv

[2022-10-31 03:30] nima commented on #344
ECR returns a `http.StatusBadRequest error, with a sub-error code of `UNSUPPORTED`.

[2022-10-31 11:16] shizhMSFT commented on #271
Closing as all sub tasks are resolved.

[2022-10-31 11:16] #271 closed

[2022-10-31 11:17] shizhMSFT commented on #267
Closed by #271

[2022-10-31 11:17] #267 closed

[2022-10-31 11:17] shizhMSFT commented on #268
Closed by #271

[2022-10-31 11:17] #268 closed

[2022-11-01 11:03] FeynmanZhou commented on #278
Thank you. Close it due to ORAS-go v1.2.1 was released https://github.com/oras-project/oras-go/releases/tag/v1.2.1

[2022-11-01 11:03] #278 closed

[2022-11-02 00:40] toddysm commented on #319
Windows is removing the support for foreign layers and this will not be an issue going forward
Let's just improve the error message that foreign layers are not supported when somebody tries to copy image with foreign layers. I will test the experience and propose the error message improvement.

The scope of implementation for the v2.0.0-rc.6 milestone should be improvement of the error message onl

[2022-11-02 00:45] sajayantony commented on #319
+1 on showing an error the manifest has a foreign layer and not supported - https://techcommunity.microsoft.com/t5/containers/announcing-windows-container-base-image-redistribution-rights/ba-p/3645201

There was a discussion on OCI to not fully remove URLs since RedHat might be using this -
https://github.com/opencontainers/image-spec/pull/965

[2022-11-02 06:06] qweeah commented on #319
@toddysm Since this is implemented in oras-go and it's a SDK, you need to write golang code to test it. To save your time, you may use oras CLI to reproduce the error via below command:
[code]

To install oras CLI, follow https://oras.land/cli/.

[2022-11-03 00:26] toddysm commented on #319
OK, the current error is
[code]
We should change the error to:
[code]

[2022-11-03 06:14] qweeah opened #355 "`oras.Copy` should return error with detailed info implying where the failure happens"
For now `oras.Copy` will return all wrapped errors covering the whole call stack (e.g. http error code, response error) but not including contextual information like **on what node it's failing**. This missing information can be useful when the callee need to confirm where the copy fails.

One use case is that oras cli need to fallbak to OCI image when pushing artifact is not supported. ECR may re

[2022-11-07 19:56] imjasonh commented on #319
FWIW, [Red Hat chimed in](https://github.com/opencontainers/image-spec/pull/965#issuecomment-1280429714) and said they're not using them.

The only push-back I've heard about removing non-distributable layers from the OCI spec just yet has been [from Microsoft](https://github.com/opencontainers/image-spec/pull/965#issuecomment-1279254015).

[2022-11-07 20:03] toddysm commented on #319
Thanks @imjasonh for the update. In this case we can move on with the error message improvement only.

[2022-11-08 14:44] shizhMSFT opened #356 "Add `ReferrerFinder` to `Repository` interface"
Since the Referrers API is a part of the OCI spec, we should indeed promote `ReferrerFinder` to the `Repository` interface.

[2022-11-09 03:31] #356 closed

[2022-11-09 09:40] #349 closed

[2022-11-10 18:15] nima commented on #333
`[INFO]` Today we are at ~ 58% coverage.

[2022-11-10 19:39] nima commented on #333
`[INFO]` Okay, now at 69% WW coverage.  Note that we will (for unrelated reasons) cease further deployments for the remainder of the week.  I'll re-enable the deployment on Monday 11/14.

[2022-11-11 04:53] #332 closed

[2022-11-15 03:10] nima commented on #333
`[INFO]` Deployments will commence again tomorrow.

[2022-11-16 10:29] loresuso opened #361 "Using http.RoundTripper to make oras-go more extensible"
Hello everybody,

I am working on [falcoctl](https://github.com/falcosecurity/falcoctl) for adding support to OAuth2.0 and trying to figure out how to make it work and integrate with `oras-go`. In particular, I want to be able to use access tokens until they expire, and then use refresh tokens to get a new one. [This library](https://pkg.go.dev/golang.org/x/oauth2) is perfect for achieving this.

[2022-11-16 15:25] shizhMSFT commented on #361
@loresuso I'm not familiar with the `golang.org/x/oauth2` package, and not sure if this package is compatible with the Docker auth flow. It would be great if you can provide a working example of accessing Docker Hub or GHCR using the `oauth2` package such as listing tags.

The reasons why `auth.Client` uses and is a `*http.Client` instead of `http.RoundTripper` are
1. `*http.Client` follows 307 re

[2022-11-17 00:31] SteveLasker opened #362 "oras-go to automatically support uplevel artifact manifest and downlevel registries"
We're excited to see OCI adopt the ORAS Artifact manifest, and have broader support across all registries.
While Azure will be adding support in the coming weeks, with ECR and Zot support coming as well, it will take time for the breadth of cloud-based registries to add OCI Artifact manifest support. Even longer for on-prem instances that need to be updated, once the projects/products add support

[2022-11-17 03:03] nima commented on #333
`[INFO]` Deployments are complete; @lbjarre can you confirm if the issue is resolved for you?

[2022-11-17 07:43] lbjarre commented on #333
I actually don't have the same testing setup left anymore, we solved our issue by just reducing the manifest size. However, if your testcases are working then I'm comfortable with calling this as resolved. Thanks for the help!

[2022-11-17 07:43] #333 closed

[2022-11-17 08:22] loresuso commented on #361
Thanks a lot Shiwei.
I didn't know about 307 redirect response for blobs and I didn't consider it.
Thanks a lot for all the information you gave me, I will try to experiment skipping the `auth.Client` and also trying to hack.
I will update you as soon as possible!

[2022-11-17 12:19] #354 closed

[2022-11-22 15:23] FeynmanZhou commented on #362
I think Docker Hub doesn't support OCI image manifest. We might need to consider a special solution to handle it or wait for Docker Hub to support the OCI artifact manifest. cc @shizhMSFT @qweeah @sajayantony for comments

This is an intended result when interacting with ACR. It should work after ACR supports the OCI artifact manifest.

There was an issue in the Notation repo tracking it https://g

[2022-11-28 04:27] shizhMSFT commented on #362
`oras-go` will **NOT** support any kind of implicit manifest conversions, including converting OCI image manifest from / to OCI artifact manifest. The reason is simple and fundamental as manifest conversions change the digest. Thus, all attached artifacts, including signatures, will be invalidated immediately.

Please note that [distribution-spec: Backwards Compatibility](https://github.com/openco

[2022-11-28 22:34] AaronFriel opened #366 "Feature request: top level API in the `oras` package to enumerate a manifest and its children."
The nature of the `oras` CLI and its abstraction over different levels of OCI supported media types enables users to `oras push` without concerning themselves with the media type created on the registry.

However the Go SDK does not provide - except via the `content` package - a wrapper that encapsulates those same decisions to retrieve a set of descriptors from a reference in a single GET.

## Pr